/* ��ü ���� �⺻ ��Ÿ�� */
#main {
	width: 70%;
	
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

#main{
	width:70%;
}
#team-heading{
	margin-right:580px;
}

#profile-container {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 4rem;
    flex-direction: column; /* ���� �������� ��ġ */
}

#profile-preview {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#change-photo-button {
    /*margin-top: 10px;*/
    cursor: pointer;
}

#sport-select {
    text-align: center;
    margin-right: 30px;
    font-size: 18px;
    background-color: #000;
    height: 40px;
    color: #fff;
    width: 100px;
    border-radius: 10px;
}

#location-buttons {
    margin-top: 1.2rem;
    justify-content: center;
    border-radius: 10px;
}

#location-buttons button {
    background-color: #000000f5;
    height: 40px;
    width: 300px;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#location-selects {
    text-align: center;
    border-radius: 20px;
    /*margin-right: 30px;*/
    margin-top: 10px;
    margin-bottom: 10px; /* �ϴ� ���� �߰� */
    display: flex;
    justify-content: center;
    gap: 10px;
}

#team-section {
    max-width: 800px; /* �� ���� �ִ� �ʺ� ���� */
    margin: 0 auto; /* ��� ���� */
    padding: 20px; /* ���� ���� �߰� */
    display: flex;
}

#team-name,
#team-intro {
    margin-top: 10px;
    font-weight: 600;
    margin-right: 20px;
}

#team-name label,
#team-intro label {
    margin-right: 20px;
    margin-bottom: 5px;
    display: block;
}

#team-name input,
#team-intro textarea {
    margin-right: 20px;
    width: 400px;
    padding: 5px;
}

#team-name {
    margin-top: 10px;
}

#team-name-input {
    width: 400px;
    height: 30px;
    padding: 5px;
}

#team-intro {
    margin-top: 10px;
}

#team-intro-input {
    width: 400px;
    height: 90px;
    resize: vertical;
    padding: 5px;
}

.form1 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
}

#complete-button {
    position: absolute;
    margin-top: 1rem;
    margin-left: 20rem;
    background-color: #000000f5;
    color: #fff;
    border: none;
    flex-direction: column; /* ���� �������� ��ġ */
    font-size: 16px;
    border-radius: 10px;
    padding: 6px 25px;
    cursor: pointer;
    align-items: end;
}

#change-photo-button {
    margin-top: 10px;
    cursor: pointer;
    background-color: #000000f5;
    color: #fff;
    border: none;
    font-size: 14px;
    border-radius: 10px;
    padding: 8px 25px;
}

#team-name input {
    width: 400px;
    height: 40px;
    padding: 5px;
}

#team-intro-input {
    width: 400px;
    height: 110px;
    padding: 5px;
}

#sido, #sigungu,
#district-select {
    border-radius: 8px;
    text-align: center;
    height: 40px;
    width: 140px;
}

#district-select {
    background-color: #fff;
    margin-right: 30px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    max-height: 80%;
    overflow: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}