* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
	font-family: 'Noto Sans KR', sans-serif;
}

:root {
	--white-color: #fff;
	--black-color: #111;
	--btn-blue-color: #0066ff;
	--btn-red-color: #ff0000;
	--btn-gray-color: #d3d3d3;
	--text-gray-color: #8f8f8f;
	--text-light-gray-color: #dddddd;
	--first-color: #0c5df4;
	--bg-color: #000000;
	--sub-color: #b6cefc;
	--white-color: #fff;
	--big-font: 6rem;
	--h2-font: 3rem;
	--p-font: 1rem;
	--nav--width: 92px;
}

body {
	background: var(--white-color);
	color: var(--black-color);
}

.container.team-settings {
	width: 70%;
	margin-top: -30px;
	padding: 5px;
}

.container.team-settings form {
	display: flex;
	flex-direction: column;
}

.container.team-settings label {
	margin-bottom: 8px;
}

.container.team-settings input,
.container.team-settings textarea {
	margin-bottom: 8px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: none;
}

.container.team-settings input#teamName {
	width: 200px;
	/* 조�???? ?�기 ???? */
}

.container.team-settings textarea#teamIntro {
	height: 150px;
	width: 500px;
	/* ?????? ?�기�? 조�?? */
}

.container.team-settings button {
	background-color: black;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	width: 60px;
	margin-top: 30px;
}

.container.team-settings h1 {
	font-size: 25px;
	border-bottom: 2px solid #ccc;
	/* ???? ?��???�과 ?????? �??? */
	padding-bottom: 20px;
	/* ??�? ???��?? ?��?��?? �?격�?? 조�?? */
}

.container.team-settings label {
	margin-top: 10px;
}

/* ???? ?��?��? 컨�???��??�? ???? ?��???? �?�? */
.circular-image-container {
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 50%;
	margin: 10px 0;
	/* 기본 ?��?��? URL?? ?��?? �? */
	background-size: cover;
}

.circular-image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container.team-settings input#profilePicture {
	width: 500px;
}

/* ?????? ??�??��?? ?�기 */
#jobStatus {
	width: 120px;
}

.filter-select {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#teamNameCheckButton{
	width: 8%;
	font-size: 12px;
	margin-top: 0%;
}

#checkTeamNameInModal{
	width: 70%;
	display: inline-block;
}

#checkTeamNameButtonInModal{
	display: inline-block;
	font-size: 16px;
	margin-bottom: 4px;
}

#teamProfilePicPriveiw {
	border-radius: 50%;
	border: 1px solid #ccc;
}