<!DOCTYPE html>
<html>

<head>
	<header th:fragment="f-head" id="header">

		<link href="/css/fragment/common.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
			crossorigin="anonymous"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

		<script>
			function redirectToLoginPage() {
				window.location.href = "/page/user/login";
			}

			function redirectToRegistrationPage() {
				window.location.href = "/page/user/join";
			}
		</script>

		<a href="/" class="logo">Match Me If You Can</a>
		<ul class="navbar">
			<li><a href="/page/match/match-board">Match</a></li>
			<li><a href="/page/user/mypage">MyPage</a></li>
			<li><a href="/page/team/team-rank">Rank</a></li>
		</ul>
		<div class="user-menu">
			<button id="login-button" class="btn btn-dark" onclick="redirectToLoginPage()">로그인</button>
			<button id="register-button" class="btn btn-dark" onclick="redirectToRegistrationPage()">회원가입</button>
		</div>
	</header>
</head>

</html>