<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:replace="page/fragment/head :: f-head"></th:block>
    <th:block th:replace="page/fragment/script :: f-script"></th:block>
    <header th:fragment="f-head" id="header">
        <nav class="navbar" style="align-items: center">
            <a th:href="@{/}"> <img th:href="@{/}" th:src="@{/imgs/logo-1.png}" title="로고"/></a>

            <ul class="navbar__menu">
                <div class="navbar__menus">
                    <li><a th:href="@{/page/match/match-board}">Match</a></li>
                    <li><a th:href="@{/page/user/mypage}">MyPage</a></li>
                    <li><a th:href="@{/page/team/team-rank}">Rank</a></li>
                </div>
                <div class="buttons">

                    <div class="user-menu" sec:authorize="isAnonymous()">
                        <button id="login-button" class="btn btn-dark" onclick="redirectToLoginPage()">로그인</button>
                        <button id="register-button" class="btn btn-dark" onclick="redirectToRegistrationPage()">회원가입
                        </button>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <button id="logout-button" onclick="logout()" class="btn btn-dark">로그아웃</button>
                    </div>
                </div>
            </ul>

            <a href="#" class="navbar__toggleBtn"><i class="fas fa-bars"></i></a>
        </nav>
    </header>
</head>

</html>