<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Insert title here</title>
</head>
<body th:fragment="f-side-bar">
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<link href="/css/fragment/side-bar.css" rel="stylesheet">
<div class="backdrop" id="backdrop"></div>
<div class="l-navbar" id="navbar">
    <nav class="nav">
        <div>
            <div class="nav__brand">
                <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                <a href="#" class="nav__logo" style="text-decoration: none">MMIYC</a>
            </div>
            <div class="nav__list">
                <a href="/page/team/record" class="nav__link" style="color: #fff; text-decoration: none">
                    <ion-icon name="flash-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">전적</span>
                </a>
                <a href="#" class="nav__link" style="color: #fff; text-decoration: none">
                    <ion-icon name="create-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">팀원 목록</span>
                </a>

                <a href="/page/match/match-status" class="nav__link" style="color: #fff; text-decoration: none">
                    <ion-icon name="checkmark-done-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">매칭 현황</span>
                </a>

                <a href="#" class="nav__link" style="color: #fff; text-decoration: none">
                    <ion-icon name="settings-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">팀 설정</span>
                </a>
            </div>
            <a href="#" class="nav__link" style="color: #fff; text-decoration: none">
                <ion-icon name="chatbubbles-outline" class="nav__icon"></ion-icon>
                <span class="nav_name">채팅 목록</span>
            </a>
            <a href="#" class="nav__link" style="color: #fff; text-decoration: none">
                <ion-icon name="people-outline" class="nav__icon"></ion-icon>
                <span class="nav_name">가입 신청인원</span>
            </a>
        </div>
    </nav>
</div>
<script src="/js/fragment/side-bar.js"></script>
</body>
</html>