<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Insert title here</title>
</head>

<body th:fragment="f-side-bar">
	<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
	<link th:href="@{/css/fragment/side-bar.css}" rel="stylesheet">
	<div class="backdrop" id="backdrop"></div>
	<div class="l-navbar" id="navbar">
		<nav class="nav">
			<div>
				<div class="nav__brand">
					<ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
					<a th:href="@{/}" class="nav__logo" style="text-decoration: none">MMIYC</a>
				</div>

				<div class="nav__list">
					<a th:href="@{/page/team/team-record(taNum=${param.taNum})}" class="nav__link"
						style="color: #fff; text-decoration: none">
						<ion-icon name="information-circle-outline" class="nav__icon"></ion-icon>
						<span class="nav_name">팀 경기 정보</span>
					</a>
					<a th:href="@{/page/team/team-match-list(taNum=${param.taNum})}" class="nav__link"
						style="color: #fff; text-decoration: none">
						<ion-icon name="list-outline" class="nav__icon"></ion-icon>
						<span class="nav_name">매치 작성 목록</span>
					</a>
					<a th:href="@{/page/team/team-members(taNum=${param.taNum})}" class="nav__link"
						style="color: #fff; text-decoration: none">
						<ion-icon name="people-outline" class="nav__icon"></ion-icon>
						<span class="nav_name">팀원 목록</span>
					</a>
					<div id="slide" style="display:block;">
						<a th:href="@{/page/team/team-apply(taNum=${param.taNum})}" class="nav__link"
							style="color: #fff; text-decoration: none">
							<ion-icon name="person-add-outline" class="nav__icon"></ion-icon>
							<span class="nav_name">가입 신청인원</span>
						</a>
						<a th:href="@{/page/team/record(taNum=${param.taNum})}" class="nav__link"
							style="color: #fff; text-decoration: none">
							<ion-icon name="flash-outline" class="nav__icon"></ion-icon>
							<span class="nav_name">전적</span>
						</a>

						<a th:href="@{/page/team/team-status(taNum=${param.taNum})}" class="nav__link"
							style="color: #fff; text-decoration: none">
							<ion-icon name="mail-unread-outline" class="nav__icon"></ion-icon>
							<span class="nav_name">매칭 현황</span>
						</a>
						<a th:href="@{/page/team/team-settings(taNum=${param.taNum})}" class="nav__link"
							style="color: #fff; text-decoration: none">
							<ion-icon name="settings-outline" class="nav__icon"></ion-icon>
							<span class="nav_name">팀 설정</span>
						</a>
					</div>
				</div>
			</div>
	</div>
	</nav>
	</div>
	<script th:src="@{/js/fragment/side-bar.js}"></script>
	<script>
		async function getSessionUiNum() {

			const res = await fetch('/user-info');
			const user = await res.json();

			if (user && user.uiNum) {
				return user.uiNum;
			} else {
				return null;
			}
		}
		window.addEventListener('load', async function () {
			try {
				const urlParams = new URL(location.href).searchParams;
				const taNum = urlParams.get('taNum');
				const uiNum = await getSessionUiNum();
				const res = await fetch(`/get-user-role?uiNum=${uiNum}&taNum=${taNum}`);
				const userRole = await res.json();
				if (userRole && userRole.tuRole === "USER") {
					document.querySelector('#slide').style.display = 'none';
					return userRole.tuRole
				} else if (userRole && userRole.tuRole === "ADMIN") {
					return userRole.tuRole
				}
				else if (userRole === null) {
					document.querySelector('#slide').style.display = 'none';
				}
			} catch (error) {
				document.querySelector('#slide').style.display = 'none';
			}
		});
	</script>
</body>

</html>