<!DOCTYPE html>
<html lang="en">
<th:block th:fragment="ft-script">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <!-- 부트스트랩 스크립트 -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
                crossorigin="anonymous"></script>

        <!-- ionicons 스크립트 -->
        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

        <!-- 템플릿 js -->
        <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
        <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/assets/js/sidebarmenu.js}"></script>
        <script th:src="@{/assets/js/app.min.js}"></script>
        <script th:src="@{/assets/libs/apexcharts/dist/apexcharts.min.js}"></script>
        <script th:src="@{/assets/libs/simplebar/dist/simplebar.js}"></script>
        <script th:src="@{/assets/js/dashboard.js}"></script>
        <script th:src="@{/js/fragment/team-side.js}"></script>
        <script th:src="@{/js/fragment/team-profile.js}"}></script>
    </head>
    <body>

    </body>
</th:block>
</html>