<!DOCTYPE html>
<html>

<head>
    <th:block th:replace="page/fragment/head :: f-head"></th:block>
    <th:block th:replace="page/fragment/script :: f-script"></th:block>
    <title>Insert title here</title>
</head>

<body>
<!--  Sidebar End -->
<!--  Main wrapper -->
<!--  Header Start -->
<div th:fragment="f-team-head">
    <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item d-block d-xl-none">
                    <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                        <i class="ti ti-menu-2"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-icon-hover" href="/page/match/match-board">
                        <i style="font-size: medium;">Match</i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-icon-hover" href="/page/user/mypage">
                        <i style="font-size: medium;">My Page</i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-icon-hover" href="/page/team/team-rank">
                        <i style="font-size: medium;">Rank</i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</div>
<!--  Header End -->
</body>

</html>