<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>마이페이지</title>
	<link
		href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@200;300;400;500;600;700;800&display=swap"
		rel="stylesheet" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/user/mypage.css">
	   <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
        
  

<body>

	<div th:replace="page/fragment/header.html :: f-head"></div>

	<div id="main">
		<div id="sub">
			<input type="text" id="name">
			<div class="first">
			</div>
			<div class="action-buttonss">
				<button id="create-team-btn" onclick="openModal()" class="btn btn-dark">팀
					만들기</button>

				<button id="edit-button" class="btn btn-dark" onclick="openCurrentPasswordModal()">정보 수정</button>
			</div>
		</div>
		<div class="modal fade" id="teamAddModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
				<div class="modal-content" style="align-items: center">
					<div class="modal-header">
						<div class="modal-title-text" id="teamAddModalLabel">
							팀 생성하기
						</div>
					</div>
					<div class="modal-body" style="width: 90%">
						<form>
							<!-- 프로필 섹션 -->
							<div class="profile-section">
								<div class="modal-title-text">팀 사진</div>
								<img class="profile-image" id="profile-image">

								<div class="file-upload-btn">
									<input type="file" id="team-file-input" onchange="uploadTeamImage()"
										style="display: none;" />
									<label for="team-file-input" class="btn btn-dark">
										팀 사진 첨부
									</label>

								</div>
							</div>

							<!-- 팀 정보 섹션 -->
							<div class="mb-2">
								<div class="modal-title-text">
									팀 이름
									<p style="color: red">&nbsp;*</p>
								</div>
								<input type="text" class="form-control" id="recipient-name"
									placeholder="팀 이름은 최대 5자까지 입력 가능" />
								<div id="errorTaName" class="error-message"></div>
								<button type="button" class="btn btn-dark" id="checkIdButton" style="font-size:13px;"
									onclick="checkTeamName()">중복 확인</button><br>
							</div>

							<div class="mb-2">
								<div class="modal-title-text">
									지역
									<p style="color: red">&nbsp;*</p>
								</div>
								<div class="region-select-section">
									<select id="sido" class="filter-select" onchange="makeSigungu()">
										<option>시/도</option>
									</select>
									<select id="sigungu" class="filter-select">
										<option>시/군/구</option>
									</select>
								</div>
							</div>
							<div class="mb-2">
								<div class="modal-title-text">
									종목
									<p style="color: red">&nbsp;*</p>
								</div>
							</div>

							<div class="mb-2 sports-section" id="checked">
								<input type="checkbox" class="btn-check" id="btn-check-outlined1" autocomplete="off"
									value="축구" />
								<label class="btn btn-outline-dark" for="btn-check-outlined1">
									축구
								</label>
								<input type="checkbox" class="btn-check" id="btn-check-outlined2" autocomplete="off"
									value="야구" />
								<label class="btn btn-outline-dark" for="btn-check-outlined2">
									야구
								</label>
								<input type="checkbox" class="btn-check" id="btn-check-outlined3" autocomplete="off"
									value="농구" />
								<label class="btn btn-outline-dark" for="btn-check-outlined3">
									농구
								</label>
							</div>

							<div class="mb-2">
								<div class="modal-title-text">
									팀 소개
								</div>
								<textarea style="height: 250px" class="form-control" id="message-text"
									placeholder="ex) 20-30대 직장인들이 함께하는 Team3 입니다. 함께 해주실 분을 찾고 있습니다!"></textarea>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal"
							onclick="closeModalAndShowAlert()">
							닫기
						</button>
						<button type="button" class="btn btn-dark" onclick="showAlert()">
							등록
						</button>
					</div>
				</div>
			</div>
		</div>
		<div id="current-password-modal" class="modal" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">현재 비밀번호 확인</h4>
					</div>
					<div class="modal-body">
						<input type="password" id="current-password-input" class="form-control">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal"
							onclick="cancelCurrentPassword()">취소</button>
						<button type="button" class="btn btn-primary" onclick="checkCurrentPassword()">확인</button>
					</div>
				</div>
			</div>
		</div>

		<script>
			function closeModalAndShowAlert() {
				// Bootstrap 모달 닫기
				$('#teamAddModal').modal('hide');
			}
		</script>

		<script>
			function openCurrentPasswordModal() {
				$('#current-password-modal').modal('show');
			}

			function cancelCurrentPassword() {
				$('#current-password-modal').modal('hide');
				document.querySelector('#current-password-input').value = '';

				// Hide the user information section
				document.querySelector('.edit-profile-form').style.display = 'none';
			}

			function openModal() {
				const teamAddModal = document.querySelector('#teamAddModal');
				$(teamAddModal).modal('show');
			}

			document.querySelectorAll('.btn-check').forEach(function (checkbox) {
				checkbox.addEventListener('change', function () {
					document
						.querySelectorAll('.btn-check')
						.forEach(function (otherCheckbox) {
							if (otherCheckbox !== checkbox) {
								otherCheckbox.checked = false;
							}
						});
				});
			});

			// 파일 업로드 함수 - 팀 사진
			function uploadTeamImage() {
				const fileInput = document.querySelector('#team-file-input');
				const teamImage = document.querySelector('.profile-image');
				const file = fileInput.files[0];
				if (file) {
					const reader = new FileReader();

					reader.onload = function (e) {
						teamImage.src = e.target.result;
					};

					reader.readAsDataURL(file);
				}
			}

			async function checkCurrentPassword() {
				const password = document.querySelector("#current-password-input").value;
				const response = await fetch('/check-password', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({password}),
				});

				const result = await response.json();

				if (result) {
					alert("비밀번호가 일치합니다!");
					document.querySelector('#current-password-input').value='';
					$('#current-password-modal').modal('hide');
					document.querySelector('.edit-profile-form').style.display = 'block';
				} else {
					alert("비밀번호가 일치하지않습니다!");
				}
			}

			async function showAlert() {
				if (!isNameChecked) {
					alert('팀 이름 중복 확인을 해주세요.');
					return;
				}
				const teamImgFile = document.querySelector('#team-file-input');
				const formData = new FormData();
				if (teamImgFile.files.length) {
					const file = teamImgFile.files[0];
					formData.append('taFile', file);
				}
				const taName = document.querySelector('#recipient-name').value;
				const taBoundarySido = document.querySelector('#sido').value;
				const taBoundarySigungu = document.querySelector('#sigungu').value;
				const taType = document.querySelector('input[type="checkbox"]:checked').value;
				const taDesc = document.querySelector('#message-text').value;
				formData.append('taName', taName);
				formData.append('taBoundarySido', taBoundarySido);
				formData.append('taBoundarySigungu', taBoundarySigungu);
				formData.append('taType', taType);
				formData.append('taDesc', taDesc);
				const res = await fetch('/team-infos', {
					method: 'POST',
					body: formData
				});
				const result = await res.json()
				if (result == 1) {
					alert("팀 만들기 성공")
					$('#teamAddModal').modal('hide');
					location.href = "/page/user/mypage";
				} else {
					alert("팀 만들기 실패");
				}
			}
		</script>

		<script src="/js/mock/region.js"></script>

		<hr style="margin-top:20px ;">
		<div id="box2"class="mb-4">
			<div class="team-section" >
				<h3>소속팀</h3>
				<div class="team-buttons">
					<div style="float: left;">
						<button id="basketball" onclick="selectTeamType(this)" data-value="농구"><img
								src="/imgs/basketball.png"></img></button>
					</div>
					<div style="float: left;">
						<button id="baseball" onclick="selectTeamType(this)" data-value="야구"><img
								src="/imgs/baseball.png"></img></button>
					</div>
					<div style="float: left;">
						<button id="soccerball" onclick="selectTeamType(this)" data-value="축구"><img
								src="/imgs/soccerball.png"></img></button>
					</div>
					<div id="team-list"></div>
				</div>
			</div>
		</div>

		<div class="edit-profile-form" style="display: none;">
				<div class="mb-2">
			<h3 id="my">내 정보</h3>
				</div>
			<hr>
	<div class="mb-2">
			<label for="name">이름 :</label>
			<input type="text" id="user-name" readonly>
			</div>
			<hr>
				<div class="mb-2">
			<label for="email">이메일 :</label>
			<input type="email" id="email" placeholder="변경하려는 이메일을 입력해주세요.">
			</div>
			<hr>
				<div class="mb-2">
			<label for="password">비밀번호 :</label>
			<input type="password" id="password" name="password" readonly>
			<button id="change-password-button" class="btn btn-dark" onclick="openChangePasswordPopup()">비밀번호
				변경</button>
				</div>
			<hr>
				<div class="mb-2">
			<label for="phone">전화번호 :</label>
			<input type="number" id="phone">
			</div>
			<hr>
				<div class="mb-2">
			<label for="year">생년월일 :</label>
			<input type="text" id="date" name="date">
			</div>
			<hr>
				<div class="mb-2">
			<label for="address">주소 :</label>
			<input type="text" id="address" name="address" value="" placeholder="주소" readonly>
			<button type="button" id="search-address" value="JOIN" onclick="openAddressSearchModal()"
				class="btn btn-dark">검색</button>
				</div>
			<hr>
	<div class="mb-2">
			<button type="button" id="save-profile" class="btn btn-dark" onclick="save()">완료</button>
			<button type="button" id="delete-profile" class="btn btn-dark" onclick="userdelete()">삭제</button>
			</div>
		</div>
		<!-- 비밀번호 변경 팝업 -->
		<div id="change-password-popup"
			style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #fff; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); z-index: 1000;">
			<h3>비밀번호 변경</h3>
			<input type="password" id="changecurrentpasswordinput" name="current-password" placeholder="현재 비밀번호 입력">
			<br>
			<input type="password" id="newpassword" name="new-password" placeholder="새 비밀번호 입력"> <br>
			<input type="password" id="confirmnewpassword" name="confirm-new-password" placeholder="새 비밀번호 확인"> <br>
			<button type="button" id="confirm-password-change" onclick="changePasswordAndDisplay()"
				class="btn btn-dark">확인</button>
			<button type="button" id="cancel-password-change" class="btn btn-dark">취소</button>
		</div>
		
		<script>
			async function changePasswordAndDisplay() {
				// 현재 비밀번호, 새 비밀번호, 새 비밀번호 확인 등 필요한 정보 수집
				const currentPassword = document.querySelector("#changecurrentpasswordinput").value;
				const newPassword = document.querySelector("#newpassword").value;
				const confirmNewPassword = document.querySelector("#confirmnewpassword").value;
				const confirmPasswordElement = document.querySelector("#confirmnewpassword");
				const confirmedPassword = confirmPasswordElement.value;
				const inputPasswordElement = document.querySelector("#password");

				// 비밀번호 유효성 검사
				const passwordRegex = /^(?=.*[!@#$%^&*])(?=.{8,})/;

				// 현재 비밀번호 확인을 위한 서버 요청
				const response = await fetch('/check-password', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({password: currentPassword}),
				});

				const isCurrentPasswordCorrect = await response.json();


				if (isCurrentPasswordCorrect) {

					if (!passwordRegex.test(newPassword)) {
						alert("8자 이상 특수문자를 포함해 입력해주세요.");
						return;
					}


					if (newPassword === confirmNewPassword) {
						inputPasswordElement.value = confirmedPassword;
						alert("새 비밀번호와 확인이 일치합니다");
						document.querySelector('#change-password-popup').style.display = 'none';
					} else {
						alert("새 비밀번호와 확인이 일치하지 않습니다.");
					}
				} else {

					alert("현재 비밀번호가 일치하지 않습니다!");
				}
			}
			async function userdelete() {
				const confirmation = confirm('정말로 계정을 삭제하시겠습니까?');

				if (confirmation) {

					const response = await fetch(`/user-info-delete`, {
						method: 'PATCH'
					});

					const result = await response.json();

					if (result.resultMsg == 2) {
						alert(`가입된 팀을 탈퇴 해 주세요!`);
					} else if (result.resultMsg == 0) {
						alert(`탈퇴 완료`);
						location.href = `/auth/logout`;
					}else{
						alert(`탈퇴 중 문제 발생 다시 시도해 주세요`);
					}
				}

			}
			let teamData;
			window.addEventListener('load', async function () {
				const rankRes = await fetch('/team-user-info');
				teamData = await rankRes.json();

				let html = '';
				let type;
				for (const row of teamData) {
					html += '<tr class="team-info">';
					html += '<div id="team-list-div">';
					if (row.taFilePath == null) {
						if (row.taType == '농구') {
							type = 'basketball';
						} else if (row.taType == '야구') {
							type = 'baseball';
						} else if (row.taType == '축구') {
							type = 'soccerball';
						}
						html += `<td><img src="/imgs/${type}.png" class="team-image" data-ta-num="${row.taNum}" style="display: block;"></td>`;
					} else {
						html += `<td><img src="${row.taFilePath}" class="team-image" data-ta-num="${row.taNum}" style="display: block;"></td>`;
					}
					html += `<td>${row.taName}</td>`;
					html += '</div>'
					html += '</tr>';
				}

				document.querySelector('#team-list').innerHTML = html;

				const teamImages = document.querySelectorAll('.team-image');
				teamImages.forEach(image => {
					image.addEventListener('click', handleImageClick);
				});
			});

			function handleImageClick(event) {
				const taNum = event.currentTarget.dataset.taNum;
				window.location.href = '/page/match/match-record?taNum=' + taNum;
			}

			function selectTeamType(obj) {
				document.querySelector('#team-list').innerHTML = '';

				for (const row of teamData) {
					let html = '';
					if (row.taType === obj.dataset.value) {
						html += '<tr class="team-info">';
						html += '<div id="team-list-div-type">'
						if (row.taFilePath == null) {
							if (row.taType == '농구') {
								type = 'basketball';
							} else if (row.taType == '야구') {
								type = 'baseball';
							} else if (row.taType == '축구') {
								type = 'soccerball';
							}
							html += `<td><img src="/imgs/${type}.png" class="team-image" data-ta-num="${row.taNum}" style="display: block;"></td>`;
						} else {
							html += `<td><img src="${row.taFilePath}" class="team-image" data-ta-num="${row.taNum}" style="display: block;"></td>`;
						}
						html += `<td>${row.taName}</td>`;
						html += '</div>'
						html += '</tr>';

						document.querySelector('#team-list').innerHTML += html;
						const teamImages = document.querySelectorAll('.team-image');
						teamImages.forEach(image => {
							image.addEventListener('click', handleImageClick);
						});
					}

				}

			}
			function save() {
				var uiName = document.querySelector("#user-name").value;
				var uiAddress = document.querySelector("#address").value;
				var uiBirth = document.querySelector("#date").value;
				var uiPhoneNum = document.querySelector("#phone").value;
				var uiEmail = document.querySelector("#email").value;
				var uiPwd = document.querySelector("#password").value;


				updateProfile({
					uiName: uiName,
					uiAddress: uiAddress,
					uiBirth: uiBirth,
					uiPhoneNum: uiPhoneNum,
					uiEmail: uiEmail,
					uiPwd: uiPwd
				});
			}
			async function updateProfile(profileData) {

				const confirmations = confirm('계정을 수정하시겠습니까?');

				if (confirmations) {
					try {
						const response = await fetch('/update-profile', {
							method: 'PATCH',
							headers: {
								'Content-Type': 'application/json',
							},
							body: JSON.stringify(profileData),
						});

						if (response.ok) {
	
							document.querySelector('.edit-profile-form').style.display = 'none';
							alert('프로필이 업데이트 되었습니다.');
							document.querySelector('#password').value = '';
						} else {

							throw new Error('프로필 업데이트에 실패했습니다.');
						}
					} catch (error) {

						console.error('Error during profile update:', error);
						alert('프로필 업데이트 중 오류가 발생했습니다.');
					}
				}
			}
			window.addEventListener('load', async function () {
				const userRes = await fetch('/user-info');
				user = await userRes.json();
				document.querySelector('#name').value = user.uiName;
				document.querySelector('#address').value = user.uiAddress;
				document.querySelector('#date').value = user.uiBirth;
				document.querySelector('#email').value = user.uiEmail;
				document.querySelector('#phone').value = user.uiPhoneNum;
				document.querySelector('#user-name').value = user.uiName;
			});

			const teamNameInput = document.querySelector('#recipient-name');
			// 입력 이벤트에 대한 이벤트 리스너를 추가
			teamNameInput.addEventListener('input', function () {
				// 입력의 현재 값을 가져옵니다.
				let currentInput = teamNameInput.value;

				// 길이가 5자를 초과하는지 확인
				if (currentInput.length > 5) {
					// 초과하는 경우 입력을 5자로 자릅니다.
					currentInput = currentInput.slice(0, 5);

					// 입력 필드를 자른 값으로 업데이트
					teamNameInput.value = currentInput;
				}
			});
		</script>

		<script>
			// 팀 이름 길이 제한 함수
			function limitTeamNameLength() {
				var teamNameInput = document.querySelector("#recipient-name");
				var errorDiv = document.querySelector("#errorTaName");

				// 팀 이름이 5글자를 초과하면 초과 부분을 잘라내고 오류 메시지 표시
				if (teamNameInput.value.length > 5) {
					teamNameInput.value = teamNameInput.value.substring(0, 5); // 5글자로 자름
					errorDiv.innerText = "팀 이름은 5글자를 초과할 수 없습니다.";
				} else {
					errorDiv.innerText = "";
				}
			}
		</script>

		<script>
			let isNameChecked = false;
			async function checkTeamName() {
				const taName = document.querySelector('#recipient-name').value;

				if (!taName) {
					document.querySelector('#errorTaName').innerHTML = "<span style='color: red;'>팀 이름을 입력해주세요.</span>";
					return;
				} else {
					document.querySelector('#errorTaName').innerHTML = "";
				}
				const data = {
					taName: taName
				}
				const res = await fetch(`/check-team-name/${taName}`);
				isNameChecked = true;
				const result = await res.json();

				if (result.resultMsg == "0") {
					document.querySelector('#errorTaName').innerHTML = `<span style='color: red;'>이미 사용중인 이름입니다</span>`;
				} else {
					document.querySelector('#errorTaName').innerHTML = `<span style='color: green;'>사용 가능한 이름입니다</span>`;
				}

			}

			function openChangePasswordPopup() {

				document.querySelector('#change-password-popup').style.display = 'block';

			}
			document.querySelector('#cancel-password-change').addEventListener('click', function () {
				document.querySelector('#change-password-popup').style.display = 'none';
			});
			function profile() {
				var image = document.querySelector('#image');
				var source = image.src;
				window.open(source);
			}

			function openAddressSearchModal() {
				new daum.Postcode({
					oncomplete: function (data) {
						let selectedAddress;
						if (data.buildingName != "") {
							selectedAddress = data.address + ` (${data.buildingName})`;
						} else {
							selectedAddress = data.address
						}
						const searchResults = document.querySelector('#search-results')
						const addressInput = document.querySelector('#address');
						addressInput.value = selectedAddress;
					}
				}).open();
			}
		</script>

		<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
		<div class="overlay" id="overlay"></div>
		<input type="file" id="profile-image-upload" style="display: none" accept="image/*"
			onchange="previewProfileImage(event)">
		<div id="overlay"></div>
		<script>
			const editButton = document.querySelector('#edit-button');
			const editProfileForm = document.querySelector('.edit-profile-form');
			const saveButton = document.querySelector('#save-profile');
			// 정보 수정 버튼 클릭 시 이벤트 리스너
			editButton.addEventListener('click', function () {
				editProfileForm.style.display = 'block';
			});
			// 완료 버튼 클릭 시 이벤트 리스너
			saveButton.addEventListener('click', function () {
				editProfileForm.style.display = 'none';
			});
		</script>

		<script>
			window.addEventListener('scroll', () => {
				if (window.scrollY > 50) {
					header.style.opacity = '0'; // 스크롤 위치에 따라 내비게이션 바 숨김
					header.style.transform = 'translateY(-100%)';
				} else {
					header.style.opacity = '1'; // 스크롤 위치에 따라 내비게이션 바 표시
					header.style.transform = 'translateY(0)';
				}
			});
		</script>
</body>

</html>