<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.sp.team32ndproject.team.mapper.TeamInfoMapper">

	
	<select id="selectTeamInfoByTaTypeAndTaNum" 
		resultType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		SELECT * FROM TEAM_INFO
		<where>
			<if test="taType != null and taType != ''">
				TA_TYPE = #{taType}
			</if>
			<if test="taNum != null and taNum != ''">
				AND TA_NUM = #{taNum}
			</if>
			AND TA_ACTIVE_STATUS = 0
		</where>
	</select>
	
	<insert id="insertTeamInfo" useGeneratedKeys="true"
		keyColumn="TA_NUM" keyProperty="taNum"
		parameterType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		INSERT INTO TEAM_INFO(
		UI_NUM, TA_NAME, TA_BOUNDARY_SIDO,
		TA_BOUNDARY_SIGUNGU,
		TA_DESC,TA_TYPE,
		TA_FILE_PATH,
		TA_FILE_NAME
		)
		VALUES(
		#{uiNum}, #{taName},
		#{taBoundarySido},#{taBoundarySigungu},
		#{taDesc},#{taType},#{taFilePath},#{taFileName}
		);
	</insert>

	<select id="selectTeamInfoByTaName"
		resultType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		SELECT * FROM TEAM_INFO
		WHERE TA_NAME=#{taName}

	</select>


	<select id="selectTeamInfo"
		resultType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		SELECT *
		FROM TEAM_INFO
		<where>
			<if test="taType != null and taType != ''">
				TA_TYPE = #{taType}
			</if>
			<if test="taBoundarySido != null and taBoundarySido != ''">
				AND TA_BOUNDARY_SIDO = #{taBoundarySido}
			</if>
			<if test="taPoint != null and taPoint != 0">
				AND TA_POINT > #{taPoint}
			</if>
			<if test="taName != null and taName != ''">
				AND TA_NAME = #{taName}
			</if>
			AND TA_ACTIVE_STATUS = 0
		</where>
		ORDER BY TA_POINT DESC
		LIMIT 100;
	</select>








	<select id="selectTeamInfos"
		resultType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		SELECT * FROM TEAM_INFO
	</select>


	<select id="selectTaTypeMatchBoardInfoByTaNum"
		resultType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		SELECT TA_TYPE, TA_NAME, TA_ACTIVE_STATUS FROM TEAM_INFO
		WHERE TA_NUM = #{taNum}

	</select>
	
	<select id="selectTeamInfoByTaNum"
		resultType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		SELECT * FROM TEAM_INFO
		WHERE TA_NUM = #{taNum}
		AND NOT
		TA_ACTIVE_STATUS = 1
	</select>

	<select id="selectTeamInfosByUiNum"
		resultType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		SELECT * FROM TEAM_INFO
		WHERE UI_NUM = #{uiNum}
		AND NOT
		TA_ACTIVE_STATUS = 1

	</select>

	<select id="selectTeamInfosByUiNumAndTaType"
		resultType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		SELECT * FROM TEAM_INFO
		WHERE TA_NUM = #{taNum}
		AND TA_TYPE = #{taType}
		AND TA_ACTIVE_STATUS = 0
	</select>
	
	<select id="selectTeamRankByTeamType"
		resultType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		SELECT * FROM TEAM_INFO
		WHERE TA_TYPE = #{taType}
		ORDER BY
		TA_POINT DESC;
	</select>


	<select id="selectTeamUserInfo"
		resultType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		SELECT TSU.UI_NUM, TSU.TA_NUM,
		TA.TA_NAME,TA.TA_TYPE,TA.TA_FILE_PATH
		FROM TEAM_USER_INFO TSU
		INNER JOIN
		TEAM_INFO TA ON TSU.TA_NUM = TA.TA_NUM
		WHERE TSU.UI_NUM = #{uiNum};
	</select>





	<select id="selectAdminByUiNumAndTaNum"
		resultType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		SELECT * FROM TEAM_INFO
		<where>
			<if test="uiNum != null and uiNum != ''">
				UI_NUM = #{uiNum}
			</if>
			<if test="taNum != null and taNum != ''">
				AND TA_NUM = #{taNum}
			</if>
		</where>
	</select>

	<update id="updateTeamInfo"
		parameterType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		UPDATE TEAM_INFO
		<set>
			<if test="taFilePath != null and taFilePath != ''">
				TA_FILE_PATH = #{taFilePath},
			</if>
			<if test="taFileName != null and taFileName != ''">
				TA_FILE_NAME = #{taFileName},
			</if>
			<if test="taName != null and taName != ''">
				TA_NAME = #{taName},
			</if>
			<if test="taDesc != null and taDesc != ''">
				TA_DESC = #{taDesc},
			</if>
			<if test="taStatus != null and taStatus != ''">
				TA_STATUS = #{taStatus}
			</if>
			<if test="taActiveStatus != null and taActiveStatus != ''">
				TA_ACTIVE_STATUS = #{taActiveStatus}
			</if>
		</set>
		WHERE TA_NUM = #{taNum};
	</update>

	<update id="updateTeamInfoToHomeMatchResult"
		parameterType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		UPDATE TEAM_INFO
		<set>
			<if test="taMatchCount != null and taMatchCount != ''">
				TA_MATCH_COUNT = #{taMatchCount},
			</if>
			<if test="taPoint != null and taPoint != ''">
				TA_POINT = #{taPoint},
			</if>
			<if test="taMannerPoint != null and taMannerPoint != ''">
				TA_MANNER_POINT = #{taMannerPoint},
			</if>
			<if test="taWinCnt != null and taWinCnt != ''">
				TA_WIN_CNT = #{taWinCnt},
			</if>
			<if test="taLooseCnt != null and taLooseCnt != ''">
				TA_LOOSE_CNT = #{taLooseCnt},
			</if>
			<if test="taDrawCnt != null and taDrawCnt != ''">
				TA_DRAW_CNT = #{taDrawCnt}
			</if>
		</set>
		WHERE TA_NUM = #{taNum}
	</update>

	<update id="updateTeamInfoToAwayMatchResult"
		parameterType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		UPDATE TEAM_INFO
		<set>
			<if test="taMatchCount != null and taMatchCount != ''">
				TA_MATCH_COUNT = #{taMatchCount},
			</if>
			<if test="taPoint != null and taPoint != ''">
				TA_POINT = #{taPoint},
			</if>
			<if test="taMannerPoint != null and taMannerPoint != ''">
				TA_MANNER_POINT = #{taMannerPoint},
			</if>
			<if test="taWinCnt != null and taWinCnt != ''">
				TA_WIN_CNT = #{taWinCnt},
			</if>
			<if test="taLooseCnt != null and taLooseCnt != ''">
				TA_LOOSE_CNT = #{taLooseCnt},
			</if>
			<if test="taDrawCnt != null and taDrawCnt != ''">
				TA_DRAW_CNT = #{taDrawCnt}
			</if>
		</set>
		WHERE TA_NUM = #{taNum}
	</update>



	<update id="updateTeamTaActiveStatusInfo"
		parameterType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		UPDATE TEAM_INFO
		<set>
			<if test="taName != null and taName != ''">
				TA_NAME = #{taName},
			</if>
			TA_ACTIVE_STATUS = 1
		</set>
		WHERE
		TA_NUM = #{taNum}
	</update>
</mapper>