<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.sp.team32ndproject.team.mapper.TeamUserInfoMapper">
	<!-- team-apply.js -->
	<insert id="insertTeamUserInfo"
		parameterType="com.sp.team32ndproject.team.vo.TeamUserInfoVO">
		INSERT INTO TEAM_USER_INFO(UI_NUM, TA_NUM, TU_ROLE)
		VALUES(#{uiNum},#{taNum},#{tuRole})
	</insert>
	
<!-- 	team-members.html -->
	<select id="selectTeamUserInfosWithHelper"
		resultType="com.sp.team32ndproject.team.vo.TeamUserInfoVO">
		SELECT TU.TU_NUM, TU.UI_NUM, TU.TA_NUM, TU.TU_ROLE,
		UI.UI_NAME, UI.UI_ADDRESS, UI.UI_PHONE_NUM
		FROM TEAM_USER_INFO TU
		INNER
		JOIN USER_INFO UI ON TU.UI_NUM= UI.UI_NUM
		WHERE TU.TA_NUM = #{taNum}
		ORDER BY TU_NUM
	</select>
	<select id="selectTeamUserInfos"
		resultType="com.sp.team32ndproject.team.vo.TeamUserInfoVO">
		SELECT TU.TU_NUM, TU.UI_NUM, TU.TA_NUM, TU.TU_ROLE
		FROM
		TEAM_USER_INFO TU
		INNER
		JOIN USER_INFO UI ON TU.UI_NUM= UI.UI_NUM
		WHERE
		TU.TA_NUM = #{taNum}
		ORDER BY TU_NUM

	</select>
	
	<!--team-profile.js  -->
	<select id="selectTeamUsersByTaNum"
		resultType="com.sp.team32ndproject.team.vo.TeamUserInfoVO">
		SELECT UI_NUM FROM TEAM_USER_INFO
		WHERE TA_NUM = #{taNum};
	</select>
	<select id="selectTeamByTaNum"
		resultType="com.sp.team32ndproject.team.vo.TeamUserInfoVO">
		SELECT * FROM TEAM_USER_INFO
		WHERE TA_NUM = #{taNum};
	</select>
	
<!-- 	team-member.html -->
	<delete id="deleteTeamUserInfo"
		parameterType="com.sp.team32ndproject.team.vo.TeamUserInfoVO">
		DELETE FROM TEAM_USER_INFO
		WHERE TU_NUM = #{tuNum}
	</delete>
	<!-- 	team-member.html -->
	<delete id="deleteTeamUser"
		parameterType="com.sp.team32ndproject.team.vo.TeamUserInfoVO">
		DELETE FROM TEAM_USER_INFO
		WHERE UI_NUM = #{uiNum} AND
		TA_NUM = #{taNum};

	</delete>
	
	<!--//team-profile.js //team-side.js , team-members.html-->
	<select id="TeamUserRole"
		resultType="com.sp.team32ndproject.team.vo.TeamUserInfoVO"
		>
		SELECT TU_ROLE
		FROM TEAM_USER_INFO
		WHERE UI_NUM = #{uiNum}
		AND TA_NUM = #{taNum}
	</select>

	<select id="selectTeamUserInfoByUiNum"
		resultType="com.sp.team32ndproject.team.vo.TeamUserInfoVO">
		SELECT * FROM TEAM_USER_INFO
		WHERE UI_NUM = #{uiNum}
		AND TU_ROLE = 'ADMIN'
	</select>

</mapper>