<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.sp.team32ndproject.team.mapper.TeamInfoMapper">
	<select id="selectTeamInfos"
		resultType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		SELECT * FROM TEAM_INFO
	</select>


	<select id="selectTaTypeMatchBoardInfoByTaNum"
		resultType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		SELECT TA_TYPE FROM TEAM_INFO
		WHERE TA_NUM = #{taNum}

	</select>
	<select id="selectTeamInfoByTaNum"
		resultType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		SELECT * FROM TEAM_INFO
		WHERE TA_NUM = #{taNum}

	</select>

	<select id="selectTeamInfosByUiNum"
		resultType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		SELECT * FROM TEAM_INFO
		WHERE UI_NUM = #{uiNum}

	</select>
	<select id="selectTeamInfosByUiNumAndTaType"
		resultType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		SELECT * FROM TEAM_INFO
		WHERE UI_NUM = #{uiNum}
		AND TA_TYPE =
		#{taType}
	</select>
   <select id="selectTeamUserInfo"
      resultType="com.sp.team32ndproject.team.vo.TeamInfoVO">
   SELECT TSU.UI_NUM, TSU.TA_NUM, TA.TA_NAME,TA.TA_TYPE,TA.TA_FILE_PATH
      FROM TEAM_USER_INFO TSU
      INNER JOIN TEAM_INFO TA ON TSU.TA_NUM = TA.TA_NUM
      WHERE TSU.UI_NUM = #{uiNum};
   </select>


	<select id="selectTeamRank"
		resultType="com.sp.team32ndproject.team.vo.TeamInfoVO">

		SELECT
		TA_TYPE,
		TA_NAME,
		TA_BOUNDARY_SIDO,
		TA_BOUNDARY_SIGUNGU,
		TA_POINT
		FROM TEAM_INFO
		<where>
			<if test="taType != null and taType != ''">
				TA_TYPE = #{taType}
			</if>
			<if test="taBoundarySido != null and taBoundarySido != ''">
				<if test="taType != null and taType != ''">
					AND
				</if>
				TA_BOUNDARY_SIDO = #{taBoundarySido}
			</if>
			<if test="taBoundarySigungu != null and taBoundarySigungu != ''">
				<if
					test="taType != null and taType != '' or taBoundarySido != null and taBoundarySido != ''">
					AND
				</if>
				TA_BOUNDARY_SIGUNGU = #{taBoundarySigungu}
			</if>
			<if test="minPoint != null and maxPoint != null">
				<if
					test="taType != null and taType != '' or taBoundarySido != null and taBoundarySido != '' or taBoundarySigungu != null and taBoundarySigungu != ''">
					AND
				</if>
			</if>
		</where>
		ORDER BY TA_POINT DESC
		LIMIT 20;
	</select>
	<select id="selectTeamInfoByTaName"
		resultType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		SELECT TA_NAME FROM TEAM_INFO
		WHERE TA_NUM = #{taNum}

	</select>

	<select id="selectAdminByUiNumAndTaNum"
		resultType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		SELECT * FROM TEAM_INFO
		<where>
			<if test="uiNum != null and uiNum != ''">
				UI_NUM = 5
			</if>
			<if test="taNum != null and taNum != ''">
				AND TA_NUM = 3
			</if>
		</where>


	</select>


	<insert id="insertTeamInfo" useGeneratedKeys="true"
		keyColumn="TA_NUM" keyProperty="taNum"
		parameterType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		INSERT INTO TEAM_INFO(
		UI_NUM, TA_NAME, TA_BOUNDARY_SIDO,
		TA_BOUNDARY_SIGUNGU,
		TA_DESC,TA_TYPE, TA_GENDER,
		TA_FILE_PATH,
		TA_FILE_NAME
		)
		VALUES(
		#{uiNum}, #{taName},
		#{taBoundarySido},#{taBoundarySigungu},
		#{taDesc},#{taType},#{taGender},#{taFilePath},#{taFileName}
		);
	</insert>
</mapper>