<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.sp.team32ndproject.team.mapper.TeamUserInfoMapper">
	<insert id="insertTeamUserInfo"
		parameterType="com.sp.team32ndproject.team.vo.TeamUserInfoVO">
		INSERT INTO TEAM_USER_INFO(UI_NUM, TA_NUM, TU_ROLE)
		VALUES(#{uiNum},#{taNum},#{tuRole})
	</insert>
	<select id="selectTeamUserInfosWithHelper"
		resultType="com.sp.team32ndproject.team.vo.TeamUserInfoVO">
		SELECT TU.TU_NUM, TU.UI_NUM, TU.TA_NUM, TU.TU_ROLE,
		UI.UI_NAME, UI.UI_ADDRESS, UI.UI_PHONE_NUM
		FROM TEAM_USER_INFO TU
		INNER
		JOIN USER_INFO UI ON TU.UI_NUM= UI.UI_NUM
		WHERE TU.TA_NUM = #{taNum}
		ORDER BY TU_NUM
	</select>
	<delete id="deleteTeamUserInfo"
		parameterType="com.sp.team32ndproject.team.vo.TeamUserInfoVO">
		DELETE FROM TEAM_USER_INFO
		WHERE TU_NUM = #{tuNum}
	</delete>
	<select id="selectTeamUserInfo"
		resultType="com.sp.team32ndproject.team.vo.TeamInfoVO">
		SELECT TUI.TA_NUM, TMI.TA_TYPE, TMI.TA_NAME, TMI.TA_FILE_PATH
		FROM TEAM_USER_INFO TUI
		INNER JOIN TEAM_SIGN_USER_INFO TSUI ON TUI.UI_NUM = TSUI.UI_NUM
		INNER JOIN TEAM_INFO TMI ON TSUI.TA_NUM = TMI.TA_NUM
		WHERE TUI.UI_NUM = #{uiNum}






	</select>




</mapper>