<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.sp.team32ndproject.match.mapper.MatchDealInfoMapper">

	<insert id="insertMatchDealInfo" useGeneratedKeys="true"
		keyColumn="MD_NUM" keyProperty="mdNum"
		parameterType="com.sp.team32ndproject.match.vo.MatchDealInfoVO">
		INSERT INTO
		MATCH_DEAL_INFO
		(MB_NUM, MD_HOME_NUM,
		MD_AWAY_NUM, MD_ADDRESS, MD_TYPE,
		MD_TIME, MD_DATE,
		MD_MATCH_STATUS)
		VALUES
		(#{mbNum},#{mdHomeNum}, #{mdAwayNum}, #{mdAddress}, #{mdType},
		#{mdTime},
		#{mdDate},
		#{mdMatchStatus})
	</insert>



	<!-- 매치 중복 검사 -->
	<select id="selectMatchDealInfoByMbNumAndTaNum"
		resultType="com.sp.team32ndproject.match.vo.MatchDealInfoVO">
		SELECT * FROM MATCH_DEAL_INFO
		WHERE MB_NUM = #{mbNum}
		AND
		MD_AWAY_NUM = #{mdAwayNum}
	</select>

	<select id="selectMatchDealInfosByHomeNumWithHelper"
		resultType="com.sp.team32ndproject.match.vo.MatchDealInfoVO">
		SELECT MD.MD_NUM, MD.MB_NUM, MD.MD_HOME_NUM,
		MD.MD_AWAY_NUM,
		MD.MD_ADDRESS, MD.MD_TYPE, MD.MD_TIME, MD.MD_DATE,
		MD.MD_MATCH_STATUS,
		TA.TA_NAME
		FROM MATCH_DEAL_INFO MD
		INNER JOIN
		TEAM_INFO TA ON TA.TA_NUM = MD.MD_AWAY_NUM
		WHERE MD.MD_HOME_NUM =
		#{taNum}
		AND MD.MD_MATCH_STATUS = 0
		ORDER BY
		MD.MD_DATE DESC, MD.MD_TIME DESC
	</select>

	<select id="selectMatchDealInfosByAwayNumWithHelper"
		resultType="com.sp.team32ndproject.match.vo.MatchDealInfoVO">
		SELECT MD.MD_NUM, MD.MB_NUM, MD.MD_HOME_NUM,
		MD.MD_AWAY_NUM,
		MD.MD_ADDRESS, MD.MD_TYPE, MD.MD_TIME, MD.MD_DATE,
		MD.MD_MATCH_STATUS,
		TA.TA_NAME
		FROM MATCH_DEAL_INFO MD
		INNER JOIN
		TEAM_INFO TA ON TA.TA_NUM = MD.MD_HOME_NUM
		WHERE MD.MD_AWAY_NUM =
		#{taNum}
		ORDER BY
		MD.MD_DATE DESC, MD.MD_TIME DESC
	</select>

	<update id="updateMatchDealInfoMdMatchStatus"
		parameterType="com.sp.team32ndproject.match.vo.MatchDealInfoVO">
		UPDATE MATCH_DEAL_INFO SET MD_MATCH_STATUS =
		#{mdMatchStatus}
		WHERE MD_NUM = #{mdNum}
	</update>

	<update id="updateMatchDealInfoRemainStatus" 
		parameterType="com.sp.team32ndproject.match.vo.MatchDealInfoVO">
		UPDATE MATCH_DEAL_INFO SET MD_MATCH_STATUS = 2
		WHERE NOT MD_NUM = #{mdNum}
		AND MB_NUM = #{mbNum}
	</update>

</mapper>