<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sp.team32ndproject.match.mapper.MatchResultMapper">

    <select id="selectMatchResult" resultType="com.sp.team32ndproject.match.vo.MatchResultVO">
        SELECT * FROM MATCH_RESULT
    </select>

    <insert id="insertMatchResult" parameterType="com.sp.team32ndproject.match.vo.MatchResultVO">
        INSERT INTO MATCH_RESULT
        (TA_HOME_NUM, TA_AWAY_NUM, MR_HOME_SCORE,
         MR_AWAY_SCORE, MR_WIN_NUM, MR_LOSE_NUM, MR_HOME_MANNER_POINT,
         MR_AWAY_MANNER_POINT, MR_REQUEST_STATUS)
        VALUES (#{taHomeNum}, #{taAwayNum}, #{mrHomeScore},
                #{mrAwayScore}, #{mrWinNum}, #{mrLoseNum}, #{mrHomeMannerPoint},
                #{mrAwayMannerPoint}, #{mrRequestStatus})
    </insert>


</mapper>
