<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.sp.team32ndproject.match.mapper.MatchBoardInfoMapper">
	<insert id="insertMatchInfo" useGeneratedKeys="true"
		keyColumn="MB_NUM" keyProperty="mbNum"
		parameterType="com.sp.team32ndproject.match.vo.MatchBoardInfoVO">
		INSERT INTO
		MATCH_BOARD_INFO(TA_NUM,MB_ADDRESS,MB_ADDRESS_DETAIL,MB_MAP_X,MB_MAP_Y,
		MB_SIDO,MB_SIGUNGU,MB_TIME,MB_DATE,
		MB_CREDAT,MB_DESC,MB_PAY,MB_TYPE)
		VALUES(#{taNum},#{mbAddress},#{mbAddressDetail},#{mbMapX},#{mbMapY},
		#{mbSido},#{mbSigungu},#{mbTime},#{mbDate},
		DATE_FORMAT(NOW(),'%Y%m%d'),#{mbDesc},#{mbPay},#{mbType});
	</insert>

	<select id="selectMatchInfo"
		resultType="com.sp.team32ndproject.match.vo.MatchBoardInfoVO">
		SELECT MBI.*, TM.TA_MANNER_POINT
		FROM MATCH_BOARD_INFO MBI
		INNER JOIN TEAM_INFO TM ON MBI.TA_NUM = TM.TA_NUM
		WHERE MBI.MB_NUM =
		#{mbNum}
	</select>

	<select id="selectMatchList"
		resultType="com.sp.team32ndproject.match.vo.MatchBoardInfoVO">
		SELECT MBI.*, TM.TA_MANNER_POINT,TM.TA_POINT
		FROM
		MATCH_BOARD_INFO MBI
		INNER
		JOIN TEAM_INFO TM ON MBI.TA_NUM = TM.TA_NUM

	</select>

	<select id="selectMatchInfosByTaNum"
		resultType="com.sp.team32ndproject.match.vo.MatchBoardInfoVO">
		SELECT * FROM MATCH_BOARD_INFO
		WHERE TA_NUM = #{taNum}
	</select>

	<update id="updateMatchBoardInfoMbStatus"
		parameterType="com.sp.team32ndproject.match.vo.MatchBoardInfoVO">
		UPDATE MATCH_BOARD_INFO SET MB_STATUS = 1
		WHERE MB_NUM =
		#{mbNum}
		
	</update>
	<update id="deleteMatchBoardInfoActivityStatus"
		parameterType="com.sp.team32ndproject.match.vo.MatchBoardInfoVO">
		UPDATE MATCH_BOARD_INFO SET ACTIVITY_STATUS = 1
		WHERE
		MB_NUM =
		#{mbNum};
	</update>
	<update id="updateMatchBoardInfo" 
		parameterType="com.sp.team32ndproject.match.vo.MatchBoardInfoVO">
		UPDATE MATCH_BOARD_INFO SET TA_NUM = #{taNum},
		MB_ADDRESS = #{mbAddress},
		MB_ADDRESS_DETAIL= #{mbAddressDetail},
		MB_MAP_X = #{mbMapX},
		MB_MAP_Y = #{mbMapY},
		MB_SIDO = #{mbSido},
		MB_SIGUNGU= #{mbSigungu},
		MB_TIME= #{mbTime},
		MB_DATE= #{mbDate},
		MB_DESC= #{mbDate},
		MB_PAY = #{mbPay},
		MB_TYPE= #{mbType}
		WHERE MB_NUM = #{mbNum}

	</update>
</mapper>
