<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.team32ndproject.match.mapper.MatchBoardInfoMapper">
	<insert id="insertMatchInfo" useGeneratedKeys="true" keyProperty="match.mbNum" parameterType="com.sp.team32ndproject.match.vo.MatchBoardInfoVO">
		INSERT INTO MATCH_BOARD_INFO(TA_NUM,MB_ADDRESS,MB_ADDRESS_DETAIL,MB_MAP_X,MB_MAP_Y,
									 MB_SIDO,MB_SIGUNGU,MB_TIME,MB_DATE,
									 MB_CREDAT,MB_DESC,MB_PAY,MB_TYPE)
		VALUES(#{match.taNum},#{match.mbAddress},#{match.mbAddressDetail},#{match.mbMapX},#{match.mbMapY},
			   #{match.mbSido},#{match.mbSigungu},#{match.mbTime},#{match.mbDate},
			   DATE_FORMAT(NOW(),'%Y%m%d'),#{match.mbDesc},#{match.mbPay},#{match.mbType});
	</insert>
	<select id="selectMatchInfo" parameterType="int" resultType="com.sp.team32ndproject.match.vo.MatchBoardInfoVO">
		SELECT * FROM MATCH_BOARD_INFO WHERE MB_NUM = #{mbNum}
	</select>

	<select id="selectMatchList" resultType="com.sp.team32ndproject.match.vo.MatchBoardInfoVO">
		SELECT * FROM MATCH_BOARD_INFO
	</select>
</mapper>
