<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.sp.team32ndproject.match.mapper.MatchResultMapper">

	<insert id="insertMatchResult"
		parameterType="com.sp.team32ndproject.match.vo.MatchResultVO">
		INSERT INTO MATCH_RESULT_INFO
		(MD_NUM, TA_HOME_NUM,
		TA_AWAY_NUM, MR_REQUEST_STATUS)
		VALUES (#{mdNum}, #{taHomeNum},
		#{taAwayNum}, #{mrRequestStatus})
	</insert>



	<select id="selectMatchDealInfosWithHelper"
		resultType="com.sp.team32ndproject.match.vo.MatchResultVO">
		SELECT MR.*, MD.MD_DATE, MD.MD_TIME, MD.MD_ADDRESS FROM
		MATCH_RESULT_INFO MR
		INNER JOIN MATCH_DEAL_INFO MD ON MD.MD_NUM =
		MR.MD_NUM
		WHERE TA_HOME_NUM = #{taHomeNum}
		OR TA_AWAY_NUM = #{taAwayNum}
		ORDER BY
		MR.MR_REQUEST_STATUS ASC,
		MR_NUM
	</select>


	<select id="selectMatchDealInfosByHomeNumWithHelper"
		resultType="com.sp.team32ndproject.match.vo.MatchResultVO">
		SELECT MR.*, TA.TA_NAME, MD.MD_DATE, MD.MD_TIME,
		MD.MD_ADDRESS
		FROM MATCH_RESULT_INFO MR
		INNER JOIN TEAM_INFO TA ON
		TA.TA_NUM = MR.TA_AWAY_NUM
		INNER JOIN MATCH_DEAL_INFO MD ON MD.MD_NUM =
		MR.MD_NUM
		WHERE MR.TA_HOME_NUM = #{taHomeNum}
		ORDER BY
		MR.MR_REQUEST_STATUS ASC,
		MR_NUM
	</select>

	<select id="selectMatchDealInfosByAwayNumWithHelper"
		resultType="com.sp.team32ndproject.match.vo.MatchResultVO">
		SELECT MR.*, TA.TA_NAME, MD.MD_DATE, MD.MD_TIME,
		MD.MD_ADDRESS
		FROM MATCH_RESULT_INFO MR
		INNER JOIN TEAM_INFO TA ON
		TA.TA_NUM = MR.TA_HOME_NUM
		INNER JOIN MATCH_DEAL_INFO MD ON MD.MD_NUM =
		MR.MD_NUM
		WHERE MR.TA_AWAY_NUM = #{taAwayNum}
		ORDER BY
		MR.MR_REQUEST_STATUS ASC,
		MR_NUM
	</select>

	<update id="updateMatchResultInfoFirst"
		parameterType="com.sp.team32ndproject.match.vo.MatchResultVO"
		useGeneratedKeys="true" keyColumn="MR_REQUEST_STATUS,TA_HOME_NUM"
		keyProperty="mrRequestStatus,taHomeNum">
		UPDATE MATCH_RESULT_INFO
		<set>
			<if test="mrHomeScore != null and mrHomeScore != ''">
				MR_HOME_SCORE = #{mrHomeScore},
			</if>
			<if test="mrAwayScore != null and mrAwayScore != ''">
				MR_AWAY_SCORE = #{mrAwayScore},
			</if>
			<if test="mrAwayMannerPoint != null and mrAwayMannerPoint != ''">
				MR_AWAY_MANNER_POINT = #{mrAwayMannerPoint},
			</if>
			<if test="mrHomeMannerPoint != null and mrHomeMannerPoint != ''">
				MR_HOME_MANNER_POINT = #{mrHomeMannerPoint},
			</if>
			<if test="mrRequestStatus != null and mrRequestStatus != ''">
				MR_REQUEST_STATUS = #{mrRequestStatus}
			</if>
		</set>
		WHERE MR_NUM = #{mrNum}
	</update>

	<select id="selectMatchResultInfo"
		resultType="com.sp.team32ndproject.match.vo.MatchResultVO">
		SELECT * FROM MATCH_RESULT_INFO
		WHERE MR_NUM = #{mrNum}
	</select>


</mapper>
