<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.sp.team32ndproject.match.mapper.MatchBoardPhotoInfoMapper">

	<insert id="insertMatchBoardPhotoInfo"
		parameterType="com.sp.team32ndproject.match.vo.MatchBoardPhotoInfoVO">
		INSERT INTO MATCH_BOARD_PHOTO_INFO(MB_NUM,
		MBP_FILE_NAME, MBP_FILE_PATH)
		VALUE(#{mbNum}, #{mbpFileName},
		#{mbpFilePath})
	</insert>
	<select id="selectMatchBoardInfo"
		resultType="com.sp.team32ndproject.match.vo.MatchBoardPhotoInfoVO">
		SELECT * FROM MATCH_BOARD_PHOTO_INFO
		WHERE MB_NUM =
		#{mbNum};
	</select>

	<update id="updateMatchBoardPhotoInfos">
		UPDATE MATCH_BOARD_PHOTO_INFO
		<set>
			<if test='mbpFilePath != null and mbpFilePath !=""'>
				MBP_FILE_PATH = #{mbpFilePath} ,
			</if>
			<if test='mbpFileName != null and mbpFileName !=""'>
				MBP_FILE_NAME = #{mbpFileName} 
			</if>
		</set>
		WHERE MBP_NUM = #{mbpNum}
	</update>
	
	<delete id="deleteMatchBoardPhotoInfos"> 
		DELETE FROM MATCH_BOARD_PHOTO_INFO WHERE MBP_NUM = #{mbpNum}
	</delete>
</mapper>