<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sp.team32ndproject.match.mapper.RecordSaveMapper">

    <select id="getAllRecordMatchResults" resultType="com.sp.team32ndproject.match.vo.RecordSaveVO">
        SELECT * FROM RECORD_SAVE
    </select>

    <insert id="insertRecordMatchResult" parameterType="com.sp.team32ndproject.match.vo.RecordSaveVO">
        INSERT INTO RECORD_SAVE
        (MD_NUM, RS_DATE, RS_TIME, RS_ADDRESS,
         RS_TM_NAME, RS_MATCH_STATUS, RS_TYPE)
        VALUES
            (#{mdNum}, #{rsDate}, #{rsTime}, #{rsAddress},
             #{rsTmName}, "0", #{rsType})
    </insert>

</mapper>