#main {
	width: 70%;
	margin: 0 auto;
}

#user-info-form {
	max-width: 400px;
	margin: 0 auto;
}

#user {
	transition: margin-left 0.5s ease;
	margin-left: 90%;
	width: 100%;

}

#team-list {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 2%;
}

#team-list-div {
	text-align: -webkit-center;
	margin-right: 20px;
}

#team-list-div-type {
	text-align: center;
	margin-right: 20px;
}

.team-list {
	justify-content: right;
}

#team-list td {
	text-align: center;
	margin: 10px;
}

.team-info img {
	max-width: 100px;
	max-height: 100px;
	margin-right: 10px;
}

label {
	width: 67px;
	text-align: left;
}

#password {
	display: inline-block;
	margin-left: 0.5%;
	width: 40%;
	border: 0 solid white;
}

#name {
	text-align: center;
	width: 100%;
}

#email {
	display: inline-block;
	width: 265px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}

#box2 {
	width: 100%;
	padding: 20px;
	border: 2px solid #ddd;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#change-password-button {
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
}

#phone {
	width: 265px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}

#date {
	width: 265px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}

.team-list {
	display: flex;
	flex-wrap: wrap;
	margin-right: 30%;
	justify-content: flex-start;
}

.additional-content {
	margin-top: 20px;
}

.action-buttonss {
	text-align: center;
	margin-top: 10px;
	width: 100%;
}

#profile-image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	cursor: pointer;
	border: 1px solid #ccc;
}

.profile-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

.profile-container img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-right: 20px;
}

#team-heading {
	margin-right: 280px;
}

.dropdown {
	margin-top: 20px;
	display: inline-block;
	float: left;
}

.team {
	margin: 10px;
	text-align: center;
}

.team img {
	width: 50px;
	height: 50px;
}

.search-results {
	margin-top: 10px;
}

.action-buttons {
	text-align: center;
}

.action-buttons1 {
	display: inline-block;
}

#search-address {
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
}

.first {
	margin-left: 50px;
	width: 30%;
	box-sizing: border-box;
}

option {
	font-size: 16px;
}

.info.box#domain-list option {
	font-size: 14px;
	background-color: #ffffff;
}

input {
	margin: 0;
}

input[type="text"] {
	width: 70%;
	height: 100%;
	border: none;
	font-size: 1em;
	padding-left: 5px;
	font-style: oblique;
	display: inline;
	outline: none;
	box-sizing: border-box;
	color: black;
}

input[type=button] {
	width: 30%;
	height: 100%;
	background-color: lightgray;
	border: none;
	background-color: white;
	font-size: 1em;
	color: #042AaC;
	outline: none;
	display: inline;
	margin-left: -10px;
	box-sizing: border-box;
}

input[type=button]:hover {
	background-color: lightgray;
}

.info.box#domain-list {
	margin-bottom: 10px;
}

h4 {
	font-weight: 700;
}

.modal-title {
	text-align: center;
}

.modal-title-text {
	font-size: 1.25rem;
	font-weight: 700;
}

#my {
	margin-left: 2%;
	margin-top: 40px;
}

select {
	width: 206px;
	height: 40px;
	text-align-last: center;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

.btn-check {
	display: none;
}

.btn-check:checked+.btn-outline-dark {
	background-color: black;
	color: white;
}

.modal-body form div {
	margin-bottom: 10px;
}

.region-select-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-body form div label,
.modal-body form div input,
.modal-body form div textarea {
	width: 100%;
}

.modal-body form div .modal-title-text,
.modal-body form div p {
	text-align: left;
}

.modal-body form div p {
	display: inline-block;
	margin-left: 5px;
}

.modal-body form div .sports-section {
	display: flex;
	gap: 10px;
}

.profile-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 20px;
}

.profile-image {
	max-width: 100%;
	max-height: 200px;
	margin-top: 10px;
}

.file-upload-btn {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 10px;
}

.modal label {
	display: block;
	margin-bottom: 10px;
}

.modal input {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

#address {
	width: 40%;
}

.modal button {
	background-color: #0066ff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}

.overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	z-index: 0;
}



#create-team-btn {
	margin-right: 5px;
	width: 90px;
	font-size: 15px;
}

#edit-button {
	margin-right: 5px;
	width: 90px;
	font-size: 15px;
}

#changecurrentpasswordinput,
#newpassword {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
}

#confirmnewpassword {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;
}

.team-image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	cursor: pointer;
	margin-top: 20px;
	border: 1px solid #ccc;
}

.filter-select {
	margin-right: 10px;
	margin-bottom: 10px;
}

#checkIdButton {
	margin-bottom: 15px;
}

#recipient-name {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
}

.team-buttons button {
	margin-left: 0.5em;
	margin-right: 0.3em;
	height: 50px;
	width: 50px;
	border-radius: 100px;
	border: none;
}

.team-buttons button:hover {
	background-color: var(--black-color);
	font-size: var(--p-font);
	content: 'test';
}

@media (max-width: 767px) {
	#main {
		width: 95%;
	}

	#team-list-div,
	#team-list-div-type {
		margin: auto;
	}

	.team-list {
		justify-content: flex-start;
	}

	#team-heading {
		margin-right: 0;
	}

	#box2 {
		padding: 3%;
	}

	#user {
		margin-left: 35%;
		width: 80%;
	}

	#address {
		width: 66%;
	}

	#password {
		width: 53%;
	}
}