/* 전체 영역 기본 스타일 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 
색상 설정
사용법: color: var(--white-color);
*/
:root {
    --white-color: #fff;
    --black-color: #111;
    --btn-blue-color: #0066ff;
    --btn-red-color: #ff0000;
    --text-light-gray-color: #dddddd;
    --dark-gray-color: rgb(153, 153, 153);
    --p-font: 1rem;
}

header img {
    width: 12rem;
    /*padding:0.75rem 0;*/
}

body {
    background: var(--white-color);
    color: var(--black-color);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 15% !important;
}

.navbar .logo {
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
}

.navbar li a {
    color: #111;
    font-weight: 400;
    padding: 10px 22px;
    transition: ease 0.4s;
    text-decoration: none;
}

.navbar li a:hover {
    background: var(--white-color);
    color: #5D87FF;
    font-weight: 600;
    border-radius: 4px;
    text-decoration: none;
}

#login-button,
#register-button {
    letter-spacing: 1;
    font-size: 14px;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    margin: 3px;
    cursor: pointer;
}

#login-button:hover,
#register-button:hover,
#logout-button:hover {
    background-color: #5D87FF;
    color: #fff;
    border: none;
}

.navbar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-top: 1rem;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__links li {
    padding: 8px 12px;
}

.navbar__toggleBtn {
    color: #111;
    display: none;
    position: absolute;
    right: 32px;
    font-size: 20px;
}

@media screen and (max-width: 1100px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menus {
        display: flex;
        flex-direction: column;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__links {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toggleBtn {
        display: block;
    }

    .navbar__toggleBtn:hover {
        display: block;
        color: #111;
    }

    .navbar__menu.active,
    .navbar__links.active {
        display: flex;
        color: #111;
        padding: 8px;
    }

        #login-button,
        #register-button,
        #logout-button {
            background-color: #fff;
            color: #111;
            border: none;
            font-size: 14px;
            font-weight: 600;
        }
}


@media screen and (max-width: 1100px) {
    .navbar__menu.active .user-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .user-menu button {
        width: 100%;
    }
}


.navbar__menus {
    display: flex;
    /*margin-right: 20px;*/
}


