.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav--width);
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--white-color);
  padding: 1.5rem 1.5rem 2rem;
  transition: 0.5s;
}

span {
  font-size: 16px;
  padding: 6px 14px;
  border-radius: 8px;
}

.nav {
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__brand {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.nav__toggle {
  font-size: 1.25rem;
  padding: 0.75rem;
  cursor: pointer;
}

.nav__logo {
  color: var(--white-color);
  font-weight: 600;
}

.nav__link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  padding: 0.75rem;
  color: var(--white-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  transition: 0.3s;
  cursor: pointer;
}

.nav__link:hover {
  background-color: var(--first-color);
}

.nav__icon {
  font-size: 1.25rem;
}

.nav__icon:hover {
  font-size: 1.25rem;
}

.expander {
  width: calc(var(--nav--width) + 10rem);
}

.active {
  background-color: var(--first-color);
}

.rotate {
  transform: rotate(180deg);
  transition: 0.5s;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경의 색상 및 투명도 조절 */
  z-index: 1000; /* 사이드바보다 앞에 나타나도록 설정 */
  display: none; /* 초기에는 화면에서 감추기 */
}

.backdrop.active {
  display: block; /* 토글되었을 때 보이도록 변경 */
}

.l-navbar {
  z-index: 1001; /* 백드롭보다 위에 나타나도록 설정 */
}

.l-navbar.expander .backdrop {
  display: none; /* 사이드바가 열린 경우에는 백드롭을 감추기 */
}