@charset "UTF-8";

#taNameDiv {
	text-align: center;
}

#match-record-row-1 {
	align-items: center;
	justify-content: space-between;
}

#team-manner-div {
	display: flex;
	align-items: center;
	justify-content: center;
}

#team-manner-prograss-div {
	background: lightgray;
	border-radius: 5px;
	width: 180px;
}

#manners-progress{
	background-color: dodgerblue
}

#current-score{
	margin-left: 30px;
	margin-bottom: 0;
}

#team-info-tbody th{
	width: 0;
}

#team-info-tbody td{
	padding: unset;
}

#team-sign-stay-h{
	color: red;
}

#score-value {
	font-weight: 600;
	font-size: 16px;
	margin-left: 0.5rem;
	padding: 6px 14px;
	border-radius: 8px;
}

@media screen and (max-width: 768px) {
	#score-value {
		font-size: 14px;
	}
}