#taNameDiv {
	text-align: center;
}

#match-record-row-1 {
	align-items: center;
	justify-content: space-between;
}

#team-manner-div {
	display: flex;
	align-items: center;
}

#team-manner-prograss-div {
	background: aliceblue;
	border-radius: 5px;
	width: 180px;
}

#manners-progress {
	background-color: blue;
}

#current-score {
	margin-left: 30px;
	margin-bottom: 0;
}

#team-info-tbody th {
	width: 0;
}

#team-info-tbody td {
	padding: unset;
}

#first-row-div {
	width: 100%;
}

#match-record-table-top-div {
	width: -webkit-fill-available;
}

#match-list-more {
	margin-top: 3%;
	text-align: right;
}


#team-members-more {
	margin-top: 3%;
	text-align: right;
}