
.match-pic {
	width: 100%;
	text-align: center;
}

.match-pic img {
	width: 70%;
}

.main {
	width: 70%;
	margin: auto;
	display: flex;
}

.main> div {
	margin-top: 0.5em;
	display: block;
}

.info-main {
	width: 65%;
}

.info-main>div {
	width: 80%;
}

.info-main>p{
	
}

.send-info {
	position: sticky;
	top: 10%;
	border: 1px solid var(--black-color);
	width: 30%;
	height: 50%;
	margin-left: auto;
}

.desc {
	word-wrap: break-word;
}

.team-info {
	
	border: 1px solid var(--black-color);
	margin: 0 auto;
	text-align: center;
}



#score-value {
	font-weight: 500;
	font-size: 16px;
	margin-left: 0.5rem;
	padding: 6px 14px;
	border-radius: 8px;
}

.select-team{
	text-align: center;
	
}

.team-list {
	text-align: center;
}

.team-list button {
	background-color: gray;
	color: white;
	height: 70px;
	width: 70px;
	border-radius: 100px;
	border: none;
}

#team-list-div {
	width: 5em;
	margin: 0;
	display: inline-block;
	margin-right: 0.3em;
	height: 100%;
}

.send-button {
	text-align: center;
}
