.main {
	width: 70%;
	margin: 0 auto;
}

#main-tag {
	font-size: var(--h2-font);
}


#select-team {
	margin-top: 0.5em;
}

#select-team button {
	margin-left: 0.5em;
	margin-right: 0.3em;
	height: 50px;
	width: 50px;
	border-radius: 100px;
	border: none;
}

#select-team button:hover {
	background-color: var(--black-color);
	font-size: var(--p-font);
	content: 'test';

}

#select-team img {
	width: 70%;
}

#team-list-div {
	width: 8em;
	margin: 0;
	display: inline-block;
	text-align: center;
	margin-right: 0.3em;
	height: 100%;
}


#team-list button {
	margin-right: 0.3em;
	background-color: gray;
	color: white;
	height: 70px;
	width: 70px;
	border-radius: 100px;
	border: none;
	display: block;
}

#team-list {
	margin-top: 0.5em;
	height: 80%;
	text-align-last: left;
}

#info-main * {
	margin-bottom: 0.5em;
}

#info-main {
	display: flex;
	justify-content: space-between;
	grid-gap: 10em;
}

#info-main-right {
	width: 80%;
}

#info-main-right textarea {
	resize: none;
	width: 100%;
	height: 5em;
}

#okButton {
	margin-top: 0.3em;
	text-align: center;
	width: 100%;
}

#info-main-left {
	width: 20%;
}

#info-main-left input {
	width: 100%;
}


.map_wrap {
	height: 40em;
}

#main-tag {
	font-size: var(--h2-font);
}

* {
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

.remove-btn {
	margin-right: 5px;
}

#mbDesc,
#mbPay {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#sample5_address,
#address_detail {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
}

#sample5_address {
	margin-bottom: 5px;
}

.price {
	display: flex;
	align-items: center;
}

#date-input input[type="date"] {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
}

#time-input input[type="time"] {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
}

#okButton {
	margin-top: 30px;
	margin-bottom: 30px;
}