/* 
색상 설정
사용법: color: var(--white-color);
*/
:root {
	--white-color: #fff;
	--black-color: #111;
	--btn-blue-color: #0066ff;
	--btn-red-color: #ff0000;
	--btn-gray-color: #d3d3d3;
	--text-gray-color: #8f8f8f;
	--text-light-gray-color: #dddddd;
	--big-font: 6rem;
	--h2-font: 3rem;
	--p-font: 1rem;
}

.main-slide {
	position: relative;
	max-height: 450px;
}

#slider-container {
	width: 70%; /* 전체 영역의 70% 사용 (공통) */
	height: 410px;
	margin: 0 auto;
	overflow: hidden; /* 영역을 벗어나면 보이지 않게 */
	/*border-radius: 20px;*/
	text-align: -webkit-center;
}

/* 슬라이더 내 이미지 resize */
img {
	max-width: 100%;
	height: auto;
}

.match-pic {
	width: 100%;
	text-align: center;
}

.match-pic img {
	width: 70%;
}

.main {
	width: 70%;
	margin: auto;
	display: flex;
}

.main>div {
	margin-top: 0.5em;
	display: block;
}

.info-main {
	border: 1px solid var(--black-color);
	width: 65%;
}

.info-main>div {
	width: 80%;
	margin: auto;
}


.send-info {
	position: sticky;
	top: 15%;
	border: 1px solid var(--black-color);
	width: 30%;
	height: 50%;
	margin-left: auto;
}

.team-info {
	margin: 0 auto;
	text-align: center;
}

#taName {
	font-weight: 600;
}

#score-value {
	font-weight: 500;
	font-size: 16px;
	/*margin-left: 0.5rem;*/
	padding: 4px 14px;
	border-radius: 8px;
}

.select-team {
	text-align: center;

}

.team-list {
	text-align: -webkit-center;
}

.team-list button {
	background-color: gray;
	color: white;
	height: 90px;
	width: 90px;
	border-radius: 100px;
	border: none;
	display: block;
}

.team-list img {
	margin-right: 0.3em;
	height: 70px;
	width: 70px;
	border-radius: 100px;
	border: none;
	display: block;
	margin: 0 auto;
}

#team-list-div {
	width: 8em;
	margin: 0;
	display: inline-block;
	margin-right: 0.3em;
	height: 100%;
}

.send-button {
	text-align: center;
}

#post-message-textarea {
	resize: none;

}

.post-message-info {
	text-align: center;
	margin-bottom: 5%;
}

.post-message-info button {
	margin-top: 3%;
}

.info-main {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 30px;
}

.address-time-date {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}

.desc {
	word-wrap: break-word;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}

.team-info {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}

#map {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}

.send-info {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px
}

.select-team {
	margin-bottom: 10px;
}
.main-slide {
  position: relative;
  max-height: 450px;
}

.image-slider {
  width: 70%; /* 전체 영역의 70% 사용 (공통) */
  height: 410px;
  margin: 0 auto;
  overflow: hidden; /* 영역을 벗어나면 보이지 않게 */
  border-radius: 20px;
	display: flex;
}

img {
  max-width: 100%;
	border-radius: 10px;
}

#slider-container img {
	width: 100%;
	height: 350px;
	border-radius: 10px;
}

.button-container {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 75%; /* 전체 영역의 70% 사용 (공통) */
	top: 200px;
	margin: 0 auto;
}

.prev-btn,
.next-btn {
	background-color: var(--black-color);
	color: var(--white-color);
	width: 30px;
	height: 30px;
	border-radius: 20px;
	border: none;
}

.prev-btn:hover,
.next-btn:hover {
	background-color: var(--text-light-gray-color);
	color: var(--black-color);
}

#updateAndDeleteButton{
	text-align: center;
	display: flex;
    justify-content: space-evenly;
}
