/* 
색상 설정
사용법: color: var(--white-color);
*/
:root {
	--white-color: #fff;
	--black-color: #111;
	--btn-blue-color: #0066ff;
	--btn-red-color: #ff0000;
	--btn-gray-color: #d3d3d3;
	--text-gray-color: #8f8f8f;
	--text-light-gray-color: #dddddd;
	--big-font: 6rem;
	--h2-font: 3rem;
	--p-font: 1rem;
}

.match-pic {
	width: 100%;
	text-align: center;
}

.match-pic img {
	width: 70%;
}

.main {
	width: 70%;
	margin: auto;
	display: flex;
}

.main>div {
	margin-top: 0.5em;
	display: block;
}

.info-main {
	border: 1px solid var(--black-color);
	width: 65%;
}

.info-main>div {
	width: 80%;
	margin: auto;
}


.send-info {
	position: sticky;
	top: 15%;
	border: 1px solid var(--black-color);
	width: 30%;
	height: 50%;
	margin-left: auto;
}

.team-info {
	margin: 0 auto;
	text-align: center;
}



#score-value {
	font-weight: 500;
	font-size: 16px;
	margin-left: 0.5rem;
	padding: 6px 14px;
	border-radius: 8px;
}

.select-team {
	text-align: center;

}

.team-list {
	text-align: center;
}

.team-list button {
	background-color: gray;
	color: white;
	height: 70px;
	width: 70px;
	border-radius: 100px;
	border: none;
}

#team-list-div {
	width: 5em;
	margin: 0;
	display: inline-block;
	margin-right: 0.3em;
	height: 100%;
}

.send-button {
	text-align: center;
}

#post-message-textarea {
	resize: none;

}

.post-message-info {
	text-align: center;
	margin-bottom: 5%;
}

.post-message-info button {
	margin-top: 3%;
}

.info-main {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 30px;
}

.address-time-date {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}

.desc {
	word-wrap: break-word;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}

.team-info {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}

#map {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}

.send-info {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px
}