<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>전적</title>
	<link
		href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto:ital,wght@0,100;0,400;0,900;1,300;1,700;1,900&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/styles.min.css" />
	<link rel="shortcut icon" href="/assets/images/logos/favicon.ico" />
	<link rel="stylesheet" href="/css/fragment/team-profile.css" />

	<link rel="stylesheet" href="/css/team/record.css" />

</head>

<body>
	<!-- 사이드바 영역 -->

	<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
		data-sidebar-position="fixed" data-header-position="fixed">

		<div th:replace="page/fragment/team-side.html :: f-side"></div>

		<div class="body-wrapper">

			<div th:replace="page/fragment/team-head.html :: f-team-head"></div>

			<div class="container-fluid">

				<div th:replace="page/fragment/team-profile.html :: f-team-profile"></div>

				<div class="row">

					<div class="col-lg-4 d-flex align-items-stretch" id="match-record-div-top">

						<div class="card w-100">
							<div class="card-body p-4">
								<h5 class="card-title fw-semibold mb-4">전적</h5>
								<div class="form-group col-md-2">
									<select class="form-select" id="sport-filter"
										onchange="getSelectChangeListener(this)">
										<option value="all" selected>All</option>
										<option value="home">Home</option>
										<option value="away">Away</option>
									</select>
								</div>
								<div class="table-responsive">
									<table class="table text-nowrap mb-0 align-middle">
										<thead class="text-dark fs-4">
											<tr>
												<th class="border-bottom-0">
													<h6 class="fw-semibold mb-0">위치</h6>
												</th>
												<th class="border-bottom-0">
													<h6 class="fw-semibold mb-0">날짜|시간</h6>
												</th>
												<th class="border-bottom-0">
													<h6 class="fw-semibold mb-0">상대팀</h6>
												</th>
												<th class="border-bottom-0">
													<h6 class="fw-semibold mb-0">점수</h6>
												</th>
												<th class="border-bottom-0">
													<h6 class="fw-semibold mb-0" style="margin-left: 5%;">결과</h6>
												</th>
											</tr>
										</thead>
										<tbody id="match-record-tbody">
											<tr>
												<td class="border-bottom-0">
													<h6 class="fw-semibold mb-0">1</h6>
												</td>
												<td class="border-bottom-0">
													<h6 class="fw-semibold mb-1">Sunil Joshi</h6>
													<span class="fw-normal">Web Designer</span>
												</td>
												<td class="border-bottom-0">
													<p class="mb-0 fw-normal">Elite Admin</p>
												</td>
												<td class="border-bottom-0">
													<div class="d-flex align-items-center gap-2">
														<span class="badge bg-primary rounded-3 fw-semibold">Low</span>
													</div>
												</td>
												<td class="border-bottom-0">
													<h6 class="fw-semibold mb-0 fs-4">$3.9</h6>
												</td>
											</tr>
											<tr>
												<td class="border-bottom-0">
													<h6 class="fw-semibold mb-0">2</h6>
												</td>
												<td class="border-bottom-0">
													<h6 class="fw-semibold mb-1">Andrew McDownland</h6>
													<span class="fw-normal">Project Manager</span>
												</td>
												<td class="border-bottom-0">
													<p class="mb-0 fw-normal">Real Homes WP Theme</p>
												</td>
												<td class="border-bottom-0">
													<div class="d-flex align-items-center gap-2">
														<span
															class="badge bg-secondary rounded-3 fw-semibold">Medium</span>
													</div>
												</td>
												<td class="border-bottom-0">
													<h6 class="fw-semibold mb-0 fs-4">$24.5k</h6>
												</td>
											</tr>
											<tr>
												<td class="border-bottom-0">
													<h6 class="fw-semibold mb-0">3</h6>
												</td>
												<td class="border-bottom-0">
													<h6 class="fw-semibold mb-1">Christopher Jamil</h6>
													<span class="fw-normal">Project Manager</span>
												</td>
												<td class="border-bottom-0">
													<p class="mb-0 fw-normal">MedicalPro WP Theme</p>
												</td>
												<td class="border-bottom-0">
													<div class="d-flex align-items-center gap-2">
														<span class="badge bg-danger rounded-3 fw-semibold">High</span>
													</div>
												</td>
												<td class="border-bottom-0">
													<h6 class="fw-semibold mb-0 fs-4">$12.8k</h6>
												</td>
											</tr>
											<tr>
												<td class="border-bottom-0">
													<h6 class="fw-semibold mb-0">4</h6>
												</td>
												<td class="border-bottom-0">
													<h6 class="fw-semibold mb-1">Nirav Joshi</h6>
													<span class="fw-normal">Frontend Engineer</span>
												</td>
												<td class="border-bottom-0">
													<p class="mb-0 fw-normal">Hosting Press HTML</p>
												</td>
												<td class="border-bottom-0">
													<div class="d-flex align-items-center gap-2">
														<span
															class="badge bg-success rounded-3 fw-semibold">Critical</span>
													</div>
												</td>
												<td class="border-bottom-0">
													<h6 class="fw-semibold mb-0 fs-4">$2.4k</h6>
												</td>
											</tr>
										</tbody>
									</table>
								</div>

								<!-- 부트스트랩 Pagination -->
								<div class="pagination-class" style="margin-top: 5rem; margin-bottom: 3rem">
									<nav aria-label="Page navigation">
										<ul class="pagination justify-content-center" id="pageDiv">
											<li class="page-item">
												<a class="page-link" href="#" aria-label="Previous">
													<span aria-hidden="true">&laquo;</span>
												</a>
											</li>
											<li class="page-item"><a class="page-link" href="#">1</a></li>
											<li class="page-item"><a class="page-link" href="#">2</a></li>
											<li class="page-item"><a class="page-link" href="#">3</a></li>
											<li class="page-item"><a class="page-link" href="#">4</a></li>
											<li class="page-item"><a class="page-link" href="#">5</a></li>
											<li class="page-item">
												<a class="page-link" href="#" aria-label="Next">
													<span aria-hidden="true">&raquo;</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

			<div class="modal fade" id="scoreModal" tabindex="-1" role="dialog" aria-labelledby="scoreModalLabel"
				aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h6 class="modal-title" id="scoreModalLabel" style="text-align: center">
								오늘 경기 정보를 입력해주세요!
							</h6>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="modal-title-score">
								<label for="scoreInput">
									<h5>스코어</h5>
								</label>
							</div>

							<div class="modal-score" style="display: flex; justify-content: space-evenly">
								<div class="score-board">
									<input type="number" id="homeScoreInput" style="
                    width: 80px;
                    height: 100px;
                    text-align: center;
                    font-size: 32px;
                  " /><br />
									<label for="homeScoreInput">Home</label>
								</div>
								<label style="font-size: 32px; margin-top: 1.2rem">:</label>
								<div class="score-board">
									<input type="number" id="awayScoreInput" style="
                    width: 80px;
                    height: 100px;
                    text-align: center;
                    font-size: 32px;
                  " />
									<br />
									<label for="awayScoreInput">Away</label>
								</div>
							</div>

							<div class="emoji-container">
								<span>매너점수 : </span>

								<input type="number" id="mannerPointInput" placeholder="100점 만점입니다"
									oninput="javascript: if (this.value > 100) this.value = 100;">
								<!--
                    <button class="emoji-option" id="emoji-sad">😟</button>
                    <button class="emoji-option" id="emoji-happy">😀</button>
                    <button class="emoji-option" id="emoji-excited">🤩</button>-->
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="history.go()">
								취소
							</button>
							<button type="button" class="btn btn-primary" id="confirmButton"
								onclick="updateFirstMatchResult()">
								저장
							</button>
						</div>
					</div>
				</div>

			</div>

			<div class="modal fade" id="mannerModal" tabindex="-1" role="dialog" aria-labelledby="scoreModalLabel"
				aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h6 class="modal-title" id="scoreModalLabel" style="text-align: center">
								상대팀 매너점수를 입력 해주세요!
							</h6>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="emoji-container">
								<span>매너점수 : </span>

								<input type="number" id="mannerPointInput2" placeholder="100점 만점입니다"
									oninput="javascript: if (this.value > 100) this.value = 100;">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="history.go()">
								취소
							</button>
							<button type="button" class="btn btn-primary" id="confirmButton"
								onclick="updateMatchResultAccept()">
								저장
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script src="/js/team/record-script.js"></script>
	<script src="/js/fragment/team-profile.js"></script>
	<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/js/sidebarmenu.js"></script>
	<script src="/assets/js/app.min.js"></script>
	<script src="/assets/libs/simplebar/dist/simplebar.js"></script>
</body>

</html>