<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>프로필 및 팀 정보</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
		rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/css/team/team-add.css">
	<script src="/js/mock/region.js"></script>
</head>

<body>


	<h3 id="team-heading">팀만들기</h3>
	<div id="main">
		<section id="team-section">

			<div id="profile-container">
				<img id="profile-preview" alt="프로필 이미지" src="/imgs/basketball.png">
				<button id="change-photo-button" onclick="openProfilePopup()">사진 첨부</button>
			</div>

			<!-- 프로필 모달 -->
			<div id="photo-modal" class="modal">
				<div class="modal-content">
					<span class="close" onclick="closeProfilePopup()">&times;</span>
					<h3>프로필 사진 변경</h3>
					<input type="file" id="profile-image-input" accept="image/*" onchange="previewProfileImage(this)">

					<!-- Image preview container -->
					<div id="image-preview-container">
						<img id="image-preview" alt="프로필 이미지 미리보기" src="">
					</div>
					<button type="button" id="change-profile-button" onclick="applyProfileChange()">프로필 변경</button>

				</div>
			</div>

			<!-- 팀 정보 입력 폼 -->
			<div class="form1">
				<select id="sport-select">
					<option value="">종목</option>
					<option value="농구">농구</option>
					<option value="야구">야구</option>
					<option value="축구">축구</option>
				</select>

				<div class="location-section">
					<div id="location-buttons">
						<button onclick="showLocationSelects()">지역</button>
					</div>

					<div id="location-selects" style="display: none;">
						<select id="sido" class="filter-select" onchange="makeSigungu()">
							<option>시/도</option>
						</select>
						<select id="sigungu" class="filter-select" onchange="updateSchedule()">
							<option>시/군/구</option>
						</select>
					</div>
				</div>

				<div id="team-name">
					<label for="team-name-input">팀 이름</label>
					<input type="text" id="team-name-input" placeholder="팀 이름을 입력하세요">
				</div>

				<div id="team-intro">
					<label for="team-intro-input">팀 소개</label>
					<textarea id="team-intro-input" placeholder="팀 소개를 입력하세요"></textarea>
					<div id="c-button-section">
						<button id="complete-button" onclick="completeSetup()">완료</button>
					</div>
				</div>

			</div>
	</div>
	</section>
	<script type="module">
		// 시/도 옵션 추가
		const sidoSelect = document.querySelector('#sido');
		const sigunguSelect = document.querySelector('#sigungu');

		for (let key in address) {
			let option = document.createElement('option');
			option.text = key;
			sidoSelect.add(option);
		}

		function makeSigungu() {
			let sido = sidoSelect.value;
			sigunguSelect.innerHTML = '<option>시/군/구</option>';

			if (sido !== '시/도') {
				let siGunGu = address[sido];
				for (let j = 0; j < siGunGu.length; j++) {
					let option = document.createElement('option');
					option.text = siGunGu[j];
					sigunguSelect.add(option);
				}
			}
		}
	</script>

	<!-- 프로필 모달 관련 스크립트 등을 추가해야 합니다 -->
	<script>
		function openProfilePopup() {
			document.querySelector('#photo-modal').style.display = 'block';
		}

		function closeProfilePopup() {
			document.querySelector('#photo-modal').style.display = 'none';
		}
		function previewProfileImage(input) {
			const file = input.files[0];
			if (file) {
				const imageUrl = URL.createObjectURL(file);
				document.getElementById('image-preview').src = imageUrl;
			} else {
				resetProfileImagePreview(); // Reset preview if no file is selected
			}
		}

		function applyProfileChange() {
			const imageUrl = document.getElementById('image-preview').src;
			if (imageUrl) {
				changeProfile(imageUrl);
				closeProfilePopup();
			}
		}

		function resetProfileImagePreview() {
			document.getElementById('image-preview').src = ''; // Clear the preview
		}
		function changeProfile(imageUrl) {
			document.getElementById('profile-preview').src = imageUrl;
		}

		function showLocationSelects() {
			// 지역 선택 셀렉트 박스 보이기
			document.querySelector('#location-selects').style.display = 'flex';
		}

		async function completeSetup() {
			const selectedSport = document.querySelector('#sport-select').value;
			const selectedSido = document.querySelector('#sido').value;
			const selectedSigungu = document.querySelector('#sigungu').value;
			const teamName = document.querySelector('#team-name-input').value;
			const teamIntro = document.querySelector('#team-intro-input').value;
			const inputFile = document.querySelector('#profile-image-input');
			const taGender = 'A';
			const formData = new FormData();
			formData.append('taType', selectedSport);
			formData.append('taBoundarySido', selectedSido);
			formData.append('taBoundarySigungu', selectedSigungu);
			formData.append('taName', teamName);
			formData.append('taDesc', teamIntro);
			formData.append('taGender', taGender);

			if (inputFile.files.length) {
				const file = inputFile.files[0];
				formData.append('file', file);
			}

			try {
				const res = await fetch('/team-add', {
					method: 'POST',
					body: formData

				});

				if (res.ok) {
					// 서버 응답이 성공인 경우의 처리
					const data = await res.json();
					console.log('Success:', data);
					// 서버에서 받은 응답에 따른 처리 추가
				} else {
					// 서버 응답이 에러인 경우의 처리
					console.error('Error:', res.status);
				}
			} catch (error) {
				// 네트워크 오류 등 예외 발생 시의 처리
				console.error('Error:', error);
			}
		}
	</script>

</body>

</html>