<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>팀 정보 설정</title>
	<link rel="stylesheet" href="/css/team/team-settings.css">
	<link
		href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto:ital,wght@0,100;0,400;0,900;1,300;1,700;1,900&display=swap"
		rel="stylesheet">
</head>

<body>
	<div th:replace="/page/fragment/header.html :: f-head"></div>
	<div class="main">
		<div class="container team-settings">
			<h1>팀 정보 설정</h1>
			<form id="teamForm">
				<label for="profilePicture">프로필 사진</label>
				<!-- 원 모양의 플레이스홀더 이미지 컨테이너 -->
				<div class="circular-image-container" id="teamProfilePicPriveiw">
					<img id="preview" src="#">
					<div id="noImageText" style="display: none; margin-left:10%; margin-top:36%">이미지 없음</div>
				</div>

				<input type="file" id="profilePicture" accept="image/*" onchange="previewImage(this)">

				<!-- 선택한 이미지를 표시하는 부분 -->
				<img id="preview" src="#" alt="프로필 사진 미리보기" style="display:none; max-width: 20%; margin-top: 10px;">

				<label for="teamName">팀 이름</label>
				<input type="text" id="teamName" placeholder="팀 이름을 입력하세요" disabled>
				<button type="button" class="btn btn-dark" id="teamNameCheckButton" data-bs-toggle="modal"
					data-bs-target="#staticBackdrop">
					중복 확인
				</button>

				<label for="teamIntro">팀 소개</label>
				<textarea id="teamIntro" placeholder="팀에 대한 소개를 입력하세요"></textarea>

				<label for="jobStatus">구인 상태</label>
				<select id="jobStatus" class="filter-select">
					<option value="1">구함</option>
					<option value="0">구하지 않음</option>
				</select>

				<button type="button" onclick="saveTeamInfo()" style="margin-bottom: 20px;">저장</button>
			</form>
		</div>
	</div>

	<!--중복확인 모달-->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="staticBackdropLabel">팀 이름 중복 확인</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input type="text" class="form-control" id="checkTeamNameInModal" placeholder="팀 이름은 최대 5자까지 입력 가능">
					<button class="btn btn-dark" id="checkTeamNameButtonInModal" onclick="checkTeamName()">확인</button>
					<div id="errorTaName" class="error-message"></div>
					<div id="checkTeamName">

					</div>
				</div>
				<div class="modal-footer">

				</div>
			</div>
		</div>
	</div>

	<div th:replace="/page/fragment/side-bar.html :: f-side-bar"></div>
	<script>
		const teamNameInput = document.getElementById("checkTeamNameInModal");

		// 입력 이벤트에 대한 이벤트 리스너를 추가
		teamNameInput.addEventListener('input', function () {
			// 입력의 현재 값을 가져옵니다.
			let currentInput = teamNameInput.value;

			// 길이가 5자를 초과하는지 확인
			if (currentInput.length > 5) {
				// 초과하는 경우 입력을 5자로 자릅니다.
				currentInput = currentInput.slice(0, 5);

				// 입력 필드를 자른 값으로 업데이트
				teamNameInput.value = currentInput;
			}
		});
		function limitTeamNameLength() {
			var teamNameInput = document.getElementById("checkTeamNameInModal");
			var errorDiv = document.getElementById("errorTaName");

			// 팀 이름이 5글자를 초과하면 초과 부분을 잘라내고 오류 메시지 표시
			if (teamNameInput.value.length > 5) {
				teamNameInput.value = teamNameInput.value.substring(0, 5); // 5글자로 자름
				errorDiv.innerText = "팀 이름은 5글자를 초과할 수 없습니다.";
			} else {
				errorDiv.innerText = "";
			}
		}
		window.addEventListener('load', async function () {
			// 현재 URL에서 taNum을 가져오기
			const urlParams = new URLSearchParams(window.location.search);
			const taNum = urlParams.get('taNum');

			if (taNum) {
				try {
					const userRes = await fetch(`/team-info?taNum=${taNum}`);
					const user = await userRes.json();

					document.querySelector('#teamName').value = user.taName;
					console.log(user.taName);
					document.querySelector('#teamIntro').value = user.taDesc;
					document.querySelector('#jobStatus').value = user.taStatus;



					const profilePicture = document.querySelector('#profilePicture');
					console.log(user);

					// 수정 시작
					const previewImage = document.querySelector('#preview');
					const noImageText = document.querySelector('#noImageText');

					if (user.taFilePath != null) {
						previewImage.src = user.taFilePath;
						previewImage.style.display = 'block';
						noImageText.style.display = 'none';
					} else {
						previewImage.src = '';
						previewImage.style.display = 'none';
						noImageText.style.display = 'block';
					}
					// 수정 종료
				} catch (error) {
					console.error('Error fetching team info:', error);
				}
			} else {
				console.error('taNum이 없습니다.');
			}
		});

		async function checkTeamName() {
			const taName = document.querySelector('#checkTeamNameInModal').value

			const res = await fetch(`/check-team-name/${taName}`)
			const result = await res.json();
			let html;
			if (result.resultMsg == "0") {
				html = "<span style='color: red;'>이미 사용 중인 이름입니다.</span>";
				document.querySelector('#checkTeamName').innerHTML = html;
				makeBtn = '';
				document.querySelector('.modal-footer').innerHTML = makeBtn;
			} else {
				html = "<span style='color: green;'>사용 가능한 이름입니다.</span>"
				document.querySelector('#checkTeamName').innerHTML = html;
				makeBtn = `<button data-bs-dismiss="modal" type="button" class="btn btn-dark" onclick="setTeamName('${document.querySelector('#checkTeamNameInModal').value}')">사용하기</button>`
				document.querySelector('.modal-footer').innerHTML = makeBtn;
			}

		}

		function setTeamName(taName) {
			document.querySelector('#teamName').value = taName;
		}



		async function saveTeamInfo() {
			const urlParams = new URLSearchParams(window.location.search);
			const taNum = urlParams.get('taNum');
			if (taNum) {
				try {
					const teamImgFile = document.querySelector('#profilePicture');
					console.log(teamImgFile);
					const formData = new FormData();
					if (teamImgFile.files.length) {
						const file = teamImgFile.files[0];
						formData.append('taFile', file);
					}
					const taName = document.getElementById('teamName').value;
					const taDesc = document.getElementById('teamIntro').value;
					const taStatus = document.getElementById('jobStatus').value;
					formData.append('taNum', taNum);
					formData.append('taName', taName);
					formData.append('taDesc', taDesc);
					formData.append('taStatus', taStatus);

					const res = await fetch('/team-info-update', {
						method: 'PUT',
						body: formData
					});
					const result = await res.json();

					if (result == 1) {
						alert('팀 정보가 업데이트되었습니다.');
						location.href = `/page/team/record?taNum=${taNum}`
					} else {
						alert('저장 실패');
					}

				} catch (error) {
					console.error('Error updating team info:', error);
				}
			}
		}

		// 선택한 이미지를 미리보기하는 함수
		function previewImage(input) {
			var preview = document.getElementById('preview');
			var noImageText = document.getElementById('noImageText');
			var file = input.files[0];
			var reader = new FileReader();

			reader.onloadend = function () {
				preview.src = reader.result;
				preview.style.display = 'block';
				noImageText.style.display = 'none';
			}

			if (file) {
				reader.readAsDataURL(file);
			} else {
				preview.src = '';
				preview.style.display = 'none';
				noImageText.style.display = 'block';
			}
		}

		window.addEventListener('scroll', () => {
			if (window.scrollY > 50) {
				header.style.opacity = '0'; // 스크롤 위치에 따라 내비게이션 바 숨김
				header.style.transform = 'translateY(-100%)';
			} else {
				header.style.opacity = '1'; // 스크롤 위치에 따라 내비게이션 바 표시
				header.style.transform = 'translateY(0)';
			}
		});
	</script>
</body>

</html>