<!DOCTYPE html>
<html>

<head>
	<meta charset="EUC-KR">
	<title>Insert title here</title>
	<link
		href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto:ital,wght@0,100;0,400;0,900;1,300;1,700;1,900&display=swap"
		rel="stylesheet">
	
	<link rel="stylesheet" href="/css/team/team-match-list.css">
</head>

<body>
	match list
	<div th:replace="/page/fragment/side-bar.html :: f-side-bar"></div>
	<div th:replace="/page/fragment/header.html :: f-head"></div>
	<div th:replace="/page/fragment/team-profile.html :: f-team-profile"></div>
</body>

</html>