<!doctype html>
<html lang="en">

<head>
	<title>팀 전적 페이지</title>
	<th:block th:replace="page/fragment/t-head :: ft-head"></th:block>
	<th:block th:replace="page/fragment/t-script :: ft-script"></th:block>
	<link rel="stylesheet" href="/css/team/team-record.css" />
</head>

<body>
	<!--  Body Wrapper -->
	<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
		data-sidebar-position="fixed" data-header-position="fixed">

		<!-- Sidebar Start -->
		<div th:replace="page/fragment/team-side.html :: f-side"></div>
		<!--  Sidebar End -->

		<!--  Main wrapper -->
		<div class="body-wrapper">
			<!--  Header Start -->
			<div th:replace="page/fragment/team-head.html :: f-team-head"></div>
			<!--  Header End -->
			<div class="container-fluid">
				<div th:replace="page/fragment/team-profile.html :: f-team-profile"></div>
				<!--  Row 1 -->
				<div class="row">
					<div class="col-lg-4" id="first-row-div">
						<div class="row">
							<div class="col-lg-12" id="victory-div">
								<!-- Yearly Breakup -->
								<div class="card overflow-hidden">
									<div class="card-body p-4">
										<h5 class="card-title mb-9 fw-semibold">승률</h5>
										<div class="row align-items-center" id="match-win-draw-loose-div">
											<div class="col-8">
												<h5 class="fw-semibold mb-3" id="match-win-draw-loose"></h5>
												<div class="d-flex align-items-center mb-3">

													<p class="text-dark me-1 fs-3 mb-0">Victory</p>
													<p class="fs-3 mb-0" id="victory-percent"></p>
												</div>
											</div>
											<div class="col-4">
												<div class="d-flex justify-content-center">
													<div id="breakup"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12" id="team-members-div">
								<!-- Monthly Earnings -->
								<div class="team-user-list">
									<div class="card w-100">
										<div class="card-body p-4">
											<h5 class="card-title fw-semibold mb-4">팀원 목록</h5>
											<div class="table-responsive">
												<table class="table text-nowrap mb-0 align-middle">
													<thead class="text-dark fs-4">
														<tr>
															<th>
																<h6 class="fw-semibold mb-0">이름</h6>
															</th>
															<th>
																<h6 class="fw-semibold mb-0">역할</h6>
															</th>
															<th>
																<h6 class="fw-semibold mb-0">주소</h6>
															</th>
														</tr>
													</thead>
													<tbody id="team-user-list-info">

													</tbody>
												</table>
											</div>
											<div id="team-members-more">
												<span id="moreMemberBtn" class="btn btn-dark" onclick="goTeamMemberPage()">더 보기</span>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
				<div class="team-user-list">
					<div class="card w-100">
						<div style="display: flow" class="card-body p-4">
							<h5 class="card-title fw-semibold mb-4">매치 글 목록</h5>
							<div class="table-responsive">
								<table class="table text-nowrap mb-0 align-middle">
									<thead class="text-dark fs-4">
										<tr>
											<th>
												<h6 class="fw-semibold mb-0">구장이름</h6>
											</th>
											<th>
												<h6 class="fw-semibold mb-0">날짜 | 시간</h6>
											</th>
											<th>
												<h6 class="fw-semibold mb-0">작성일</h6>
											</th>
											<th>
												<h6 class="fw-semibold mb-0">주소</h6>
											</th>
											<th>
												<h6 class="fw-semibold mb-0" style="margin-left: 1vh;">매치상태</h6>
											</th>
										</tr>
									</thead>
									<tbody id="match-list-info">

									</tbody>
								</table>
							</div>
							<div style="text-align: right; margin-top: 2%;">
								<span id="moreListBtn" class="btn btn-dark" onclick="goMatchListPage()">더
									보기</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="/js/team/team-record.js"></script>
</body>

</html>