<!DOCTYPE html>
<html>

<head>
	<meta charset="EUC-KR">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/team/team-members.css">
	<link
		href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto:ital,wght@0,100;0,400;0,900;1,300;1,700;1,900&display=swap"
		rel="stylesheet">
</head>

<body>
	<div th:replace="/page/fragment/header.html :: f-head"></div>
	<div class="main">
		<div class="team-profile">
			<div class="team-photo">
				<img src="/imgs/basketball.png" />
			</div>
			<div class="score-badge">
				<span id="team-name"></span>
				<span id="score-value"></span>
			</div>
		</div>
		<div class="team-user-list">
			<h4>팀원 목록</h4>
			<table class="table">
				<thead>
					<tr id="team-user-list-head">
						<th scope="col">이름</th>
						<th scope="col">역할</th>
						<th scope="col">주소</th>
						<th scope="col">전화번호</th>
						<th scope="col">방출</th>
					</tr>
				</thead>
				<tbody id="team-user-list-info">
				</tbody>
			</table>

		</div>
		<div class="pagination-class" style="margin-top: 5rem; margin-bottom: 3rem">
			<nav aria-label="Page navigation">
				<ul class="pagination justify-content-center">
					<li class="page-item" id="pageDiv">
					
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div th:replace="/page/fragment/side-bar.html :: f-side-bar"></div>
	<script>
		const team = {
			taNum: 1,
			taFilePath: '/imgs/basketball',
			taPoint: 200,
			taName: '농구 짱짱'
		}
		const user1 = {
			taNum: 1,
			tuNum: 1,
			uiNum: 1,
			tuRole: 'user',
			uiName: '이원준',
			uiAddress: '서울 성북구',
			uiPhoneNum: '01063473534'
		}
		const user2 = {
			taNum: 1,
			tuNum: 1,
			uiNum: 2,
			tuRole: 'user',
			uiName: '이왕균',
			uiAddress: '시골',
			uiPhoneNum: '01063473534'
		}
		const user3 = {
			taNum: 1,
			tuNum: 1,
			uiNum: 3,
			tuRole: 'user',
			uiName: '이명관',
			uiAddress: '서울 성북구',
			uiPhoneNum: '01063473534'
		}
		const user4 = {
			taNum: 1,
			tuNum: 1,
			uiNum: 4,
			tuRole: 'user',
			uiName: '김아영',
			uiAddress: '서울 성북구',
			uiPhoneNum: '01063473534'
		}
		const user5 = {
			taNum: 1,
			tuNum: 1,
			uiNum: 5,
			tuRole: 'user',
			uiName: '박경훈',
			uiAddress: '서울 성북구',
			uiPhoneNum: '01063473534'
		}
		const userList = [user1, user2, user3, user4, user5];

		document.querySelector('#team-name').innerHTML = team.taName;


		const scoreValue = document.querySelector('#score-value');
		const teamPoint = team.taPoint;
		scoreValue.innerHTML = `${teamPoint}점`;

		// 점수에 따라 배경색과 텍스트색 변경
		if (teamPoint <= 100) {
			scoreValue.style.backgroundColor = '#ececec';
			scoreValue.style.color = '#767676';
		} else if (teamPoint <= 200) {
			scoreValue.style.backgroundColor = '#ede0c4';
			scoreValue.style.color = '#825e01';
		} else if (teamPoint <= 300) {
			scoreValue.style.backgroundColor = '#fffbd5';
			scoreValue.style.color = '#ffb800';
		} else if (teamPoint <= 400) {
			scoreValue.style.backgroundColor = '#e6f0ff';
			scoreValue.style.color = '#0066ff';
		} else {
			scoreValue.style.backgroundColor = '#f4e2ff';
			scoreValue.style.color = '#8200d2';
		}


		let total = 0;
		let pageSize = 5;
		const blockSize = 5;
		const urlParams = new URL(location.href).searchParams;
		const taNum = urlParams.get('taNum');

		const getTeamUserInfoList = async function (evt, page) {
			if (!page) {
				page = 1;
			}
			let url = `/team-users/helper?page=${page}&pageSize=${pageSize}&taNum=${taNum}`;
			const res = await fetch(url);
			const pageInfos = await res.json();
			const totalCnt = pageInfos.total;
			const pageBlock = Math.ceil(totalCnt / pageSize);

			const startBlock = (Math.ceil(page / blockSize) - 1) * blockSize + 1;
			let endBlock = startBlock + blockSize - 1;
			let pageHtml = '';


			if (endBlock > pageBlock) {
				endBlock = pageBlock;
			}

			if (startBlock != 1) {
				pageHtml += `<li class="page-item"><a class="page-link" aria-label="Previous" href="javascript:void(0)" onclick="getTeamSignUserInfoList(event,${startBlock - 1})"><span aria-hidden="true">&laquo;</span></a></li>`;
			}

			for (let i = startBlock; i <= endBlock; i++) {
				pageHtml += `<li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="getTeamSignUserInfoList(event,${i})">${i}</a></li>`;
			}

			if (endBlock < pageBlock) {
				pageHtml += `<li class="page-item"><a  class="page-link" aria-label="Next" href="javascript:void(0)" onclick="getTeamSignUserInfoList(event,${endBlock + 1})"><span aria-hidden="true">&raquo;</span></a></li>`;
			}
			document.querySelector('#pageDiv').innerHTML = pageHtml;
			let html = '';
			for (let user of pageInfos.list) {
				let role = user.tuRole;
				if (role == 'ADMIN') {
					role = '팀장';
				} else {
					role = '팀원';
				}
				html += '<tr>';
				html += `<td>${user.uiName}</td>`;
				html += `<td>${role}</td>`;
				html += `<td>${user.uiAddress}</td>`;
				html += `<td>${user.uiPhoneNum}</td>`;
				html += `<td><button class="btn btn-dark" onclick="doRelease(${user.taNum},${user.uiNum})")>퇴출</button></td>`
				html += '</tr>';
			}
			document.querySelector('#team-user-list-info').innerHTML = html;
		}

		window.addEventListener('load', getTeamUserInfoList);

		window.addEventListener('scroll', () => {
			if (window.scrollY > 50) {
				header.style.opacity = '0'; // 스크롤 위치에 따라 내비게이션 바 숨김
				header.style.transform = 'translateY(-100%)';
			} else {
				header.style.opacity = '1'; // 스크롤 위치에 따라 내비게이션 바 표시
				header.style.transform = 'translateY(0)';
			}
		});
	</script>

</body>

</html>