<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>팀원 목록</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
	<link
		href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@200;300;400;500;600;700;800&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
		crossorigin="anonymous"></script>
	<link
		href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto:ital,wght@0,100;0,400;0,900;1,300;1,700;1,900&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/styles.min.css" />
	<link rel="shortcut icon" type="image/png" href="/assets/images/logos/favicon.png" />
</head>

<body>

	<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
		data-sidebar-position="fixed" data-header-position="fixed">

		<div th:replace="page/fragment/team-side.html :: f-side"></div>

		<div class="body-wrapper">

			<div th:replace="page/fragment/team-head.html :: f-team-head"></div>

			<div class="container-fluid">

				<div th:replace="page/fragment/team-profile.html :: f-team-profile"></div>

		
			<div class="main">
					<div class="col-xl-11" >
		<div class="card">
			<div class="card-body">
				<div class="membership-requests">
					<h5 class="card-title mb-9 fw-semibold">팀원 목록 </h5>
					<table class="table">
						<thead>
							<tr>
								<th scope="col" style="text-align: center;">이름</th>
								<th scope="col" style="text-align: center;">역할</th>
								<th scope="col" style="text-align: center;">주소</th>
								<th scope="col" style="text-align: center;">전화번호</th>
								<th scope="col" style="text-align: center;">방출</th>
								<th scope="col" style="width: 100px;"></th>
								<!-- Empty header cell for buttons -->
								<th scope="col" style="width: 100px;"></th>
								<!-- Empty header cell for buttons -->
							</tr>
						</thead>
						<tbody id="membership-requests-info" style="text-align: center;">
						</tbody>
					</table>
				</div>
			</div>
		</div>
				
				<button onclick="teamLeave()" class="btn btn-dark">팀 탈퇴</button>
				<div class="pagination-class" style="margin-top: 5rem; margin-bottom: 3rem">
					<nav aria-label="Page navigation">
						<ul class="pagination justify-content-center" id="pageDiv">
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">4</a></li>
							<li class="page-item"><a class="page-link" href="#">5</a></li>
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			</div>
		</div>
	</div>
	</div>
	<script>


		const urlParams = new URL(location.href).searchParams;
		const taNum = urlParams.get('taNum');

		async function doRelease(tuNum, uiName) {


			if (confirm(`${uiName}님을 방출 하시겠습니까?`) == true) {

				const res = await fetch(`/team-infos?tuNum=${tuNum}&taNum=${taNum}`, {
					method: 'DELETE'
				});
				const result = await res.json();

				if (result != null) {
					alert(`${result.resultMsg}`);
					getTeamUserInfoList();
				}

			} else {
				return false;
			}
		}
		async function getSessionUiNum() {

			const res = await fetch('/user-info');
			const user = await res.json();

			if (user && user.uiNum) {
				return user.uiNum;
			} else {
				return null;
			}
		}
		async function getUserRole() {

			const uiNum = await getSessionUiNum();
			try {
				const res = await fetch(`/get-user-role?uiNum=${uiNum}&taNum=${taNum}`);
				const userRole = await res.json();
				return userRole.tuRole;
			} catch {
				return 'user';
			}
		}



		async function teamLeave() {
			try {
				const uiNum = await getSessionUiNum();
				const tuRole = await getUserRole();

				if (uiNum != null) {
					if (tuRole != null) {
						const res = await fetch(`/team-user-delete?uiNum=${uiNum}&taNum=${taNum}&tuRole=${tuRole}`, {
							method: 'DELETE'
						});

						const result = await res.json();

						if (result != null) {
							alert(`${result.resultMsg}`);
							location.href = '/page/user/mypage'
							getTeamUserInfoList();
						}
					}
				}
			} catch (error) {
				alert('팀에 속하지 않습니다.');
			}
		}


		let total = 0;
		let pageSize = 5;
		const blockSize = 5;


		const getTeamUserInfoList = async function (evt, page) {
			if (!page) {
				page = 1;
			}
			let url = `/team-users/helper?page=${page}&pageSize=${pageSize}&taNum=${taNum}`;
			const res = await fetch(url);
			const pageInfos = await res.json();
			const totalCnt = pageInfos.total;
			const pageBlock = Math.ceil(totalCnt / pageSize);
			const uiRole = await getUserRole();

			const startBlock = (Math.ceil(page / blockSize) - 1) * blockSize + 1;
			let endBlock = startBlock + blockSize - 1;
			let pageHtml = '';


			if (endBlock > pageBlock) {
				endBlock = pageBlock;
			}

			if (startBlock != 1) {
				pageHtml += `<li class="page-item"><a class="page-link" aria-label="Previous" href="javascript:void(0)" onclick="getTeamUserInfoList(event,${startBlock - 1})"><span aria-hidden="true">&laquo;</span></a></li>`;
			}

			for (let i = startBlock; i <= endBlock; i++) {
				pageHtml += `<li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="getTeamUserInfoList(event,${i})">${i}</a></li>`;
			}

			if (endBlock < pageBlock) {
				pageHtml += `<li class="page-item"><a  class="page-link" aria-label="Next" href="javascript:void(0)" onclick="getTeamUserInfoList(event,${endBlock + 1})"><span aria-hidden="true">&raquo;</span></a></li>`;
			}
			document.querySelector('#pageDiv').innerHTML = pageHtml;
			let html = '';
			for (let user of pageInfos.list) {
				let role = user.tuRole;
				if (role == 'ADMIN') {
					role = '팀장';
				} else {
					role = '팀원';
				}
				html += '<tr>';
				html += `<td>${user.uiName}</td>`;
				html += `<td>${role}</td>`;
				html += `<td>${user.uiAddress}</td>`;
				html += `<td>${user.uiPhoneNum}</td>`;
				html += `<td>`;
				if (uiRole == 'ADMIN') {
					if (role == '팀원') {
						html += `<button class="btn btn-dark" id='shut'onclick="doRelease(${user.tuNum},'${user.uiName}')")>방출</button>`;
					}
				}



				html += `</td>`;
				html += '</tr>';
			}
			document.querySelector('#membership-requests-info').innerHTML = html;
		}

		window.addEventListener('load', getTeamUserInfoList);

		window.addEventListener('scroll', () => {
			if (window.scrollY > 50) {
				header.style.opacity = '0'; // 스크롤 위치에 따라 내비게이션 바 숨김
				header.style.transform = 'translateY(-100%)';
			} else {
				header.style.opacity = '1'; // 스크롤 위치에 따라 내비게이션 바 표시
				header.style.transform = 'translateY(0)';
			}
		});
	</script>
	<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
	<script src="/js/match/match-record.js"></script>
	<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/js/sidebarmenu.js"></script>
	<script src="/assets/js/app.min.js"></script>
	<script src="/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
	<script src="/assets/libs/simplebar/dist/simplebar.js"></script>
	<script src="/assets/js/dashboard.js"></script>

</body>

</html>