<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.sp.team32ndproject.user.mapper.UserInfoMapper">
	<sql id="userInfoCols">
		UI_NUM ,UI_NAME, UI_ID, UI_PWD, UI_PHONE_NUM,
		UI_BIRTH,
		UI_EMAIL, UI_ADDRESS,
		UI_CREDAT, UI_CRETIM
	</sql>
	
	<select id="selectUserInfoByUiNum"
		resultType="com.sp.team32ndproject.user.vo.UserInfoVO">
		SELECT * FROM USER_INFO
		WHERE UI_NUM = #{uiNum}
		AND UI_ACTIVE_STATUS = 0
	</select>
	
	<select id="selectUserInfos" 
		resultType="com.sp.team32ndproject.user.vo.UserInfoVO">
		SELECT * FROM USER_INFO
	</select>
	
	<select id="selectUserInfoByUiId"
		resultType="com.sp.team32ndproject.user.vo.UserInfoVO">
		SELECT
		<include refid="userInfoCols" />
		FROM USER_INFO
		WHERE UI_ID= #{uiId}
		AND UI_ACTIVE_STATUS = 0
	</select>

	<update id="updateUserInfos"
		parameterType="com.sp.team32ndproject.user.vo.UserInfoVO">
		UPDATE USER_INFO
		<set>
			<if test="uiPwd != null and uiPwd != ''">
				UI_PWD =#{uiPwd},
			</if>
			<if test="uiEmail != null and uiEmail != ''">
				UI_EMAIL = #{uiEmail},
			</if>
			<if test="uiBirth != null and uiBirth != ''">
				UI_BIRTH = #{uiBirth},
			</if>
			<if test="uiAddress != null and uiAddress != ''">
				UI_ADDRESS = #{uiAddress},
			</if>
			<if test="uiPhoneNum != null and uiPhoneNum != ''">
				UI_PHONE_NUM= #{uiPhoneNum}
			</if>
			<if test="uiActiveStatus != null and uiActiveStatus != ''">
				UI_ACTIVE_STATUS= #{uiActiveStatus}
			</if>
		</set>
		WHERE UI_NUM = #{uiNum}
	</update>

	<insert id="insertUserInfo"
		parameterType="com.sp.team32ndproject.user.vo.UserInfoVO">
		INSERT INTO USER_INFO(
		UI_NAME, UI_ID, UI_PWD,
		UI_PHONE_NUM,
		UI_BIRTH, UI_EMAIL, UI_ADDRESS,
		UI_CREDAT, UI_CRETIM
		)
		VALUES(
		#{uiName}, #{uiId}, #{uiPwd}, #{uiPhoneNum},
		#{uiBirth},
		#{uiEmail},#{uiAddress},
		DATE_FORMAT(NOW(),'%Y%m%d'),DATE_FORMAT(NOW(),'%H%i%s')
		);
	</insert>

</mapper>