<!DOCTYPE html>
<html>
<head>
    <title>메인 페이지</title>
    <th:block th:replace="page/fragment/head :: f-head"></th:block>
    <th:block th:replace="page/fragment/script :: f-script"></th:block>

    <link href="/css/style.css" rel="stylesheet"/>
    <script type="module" src="/js/main.js"></script>
</head>

<body>
<div th:replace="page/fragment/header.html :: f-head"></div>

<div class="swiper container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="imgs/soccer.jpeg" alt="Slide 1"/></div>
        <div class="swiper-slide"><img src="imgs/baseball.JPG" alt="Slide 2"/></div>
        <div class="swiper-slide"><img src="imgs/basketball.jpg" alt="Slide 3"/></div>
    </div>
    <div class="swiper-pagination"></div>
</div>

<!-- 랭킹 영역 -->
<section class="rankings" id="rankings">
    <div class="container">
        <div class="team-table-wrapper">
            <table class="team-table">
                <div class="caption-content">
                    <span>팀 랭킹</span>
                </div>
                <thead>
                <tr>
                    <th>순위</th>
                    <th>종목</th>
                    <th>팀 이름</th>
                    <th>지역</th>
                    <th>포인트</th>
                </tr>
                </thead>
                <!-- 데이터를 동적으로 받아오는 부분 -->
                <tbody id="tBody"></tbody>
                <div class="bottom-caption">
                    <a href="/page/team/team-rank" class="ranking-view-more">더보기 &gt;</a>
                </div>
            </table>
        </div>
    </div>
</section>

<script>
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        autoplay: true,
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },
    });

    window.addEventListener('load', async function () {
        const rankRes = await fetch('/team-infos');
        teamData = await rankRes.json();

        console.log('teamData:', teamData);

        let html = '';
        let i = 1;

        // 상위 5개의 데이터만 반복하여 처리
        for (const row of teamData.slice(0, 5)) {
            html += '<tr>';
            html += '<tr>';
            if (i === 1) {
                html += `<td>🥇</td>`;
            } else if (i === 2) {
                html += `<td>🥈</td>`;
            } else if (i === 3) {
                html += `<td>🥉</td>`;
            } else {
                html += `<td>${i}</td>`
            }
            html += `<td>${row.taType}</a></td>`;
            html += `<td><a href="/page/team/team-record?taNum=${row.taNum}">${row.taName}</td>`;
            html += `<td>${row.taBoundarySido}</td>`;
            html += `<td>${row.taPoint}</td>`;
            html += '</tr>';
            i++;
        }
        document.querySelector('#tBody').innerHTML = html;
    });
</script>

<!-- 매치 일정 영역 -->
<section class="calendar-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="calendar-container">
                    <button id="cal-prev-btn" class="calendar-button">&lt;</button>
                    <div class="calendar"></div>
                    <button id="cal-next-btn" class="calendar-button">&gt;</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <table class="schedule-table">
            <tbody id="schedule"></tbody>
        </table>
        <div class="schedule-caption">
            <a href="/page/match/match-board.html" class="schedule-view-more">전체 일정 확인하기 &gt;</a>
        </div>
    </div>
</section>
</body>
</html>