<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>메인 페이지</title>
    <link href="/css/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"/>

    <!-- 구글 폰트 -->
    <link
            href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@200;300;400;500;600;700;800&display=swap"
            rel="stylesheet"/>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
</head>

<body>
<div th:replace="/page/fragment/header.html :: f-head"></div>

<!-- 이미지 슬라이드 영역 -->
<section class="main-slide" id="main-slide">
    <div class="image-slider">
        <div class="slider">
            <div class="slide">
                <img src="imgs/soccer.jpeg" alt="Slide 1"/>
            </div>
            <div class="slide">
                <img src="imgs/baseball.jpg" alt="Slide 2"/>
            </div>
            <div class="slide">
                <img src="imgs/basketball.jpg" alt="Slide 3"/>
            </div>
        </div>
    </div>
    <button id="prev-btn" class="prev-btn">&lt;</button>
    <button id="next-btn" class="next-btn">&gt;</button>
</section>

<!-- 랭킹 영역 -->
<section class="rankings" id="rankings">
    <div class="container">
        <div class="team-table-wrapper">
            <table class="team-table">
                <div class="caption-content">
                    <span>팀 랭킹</span>
<!--                    <select id="sport-filter">-->
<!--                        <option value="축구" selected>축구</option>-->
<!--                        <option value="야구">야구</option>-->
<!--                        <option value="농구">농구</option>-->
<!--                    </select>-->
                </div>
                <thead>
                <tr>
                    <th>순위</th>
                    <th>종목</th>
                    <th>팀 이름</th>
                    <th>지역</th>
                    <th>포인트</th>
                </tr>
                </thead>
                <!-- 데이터를 동적으로 받아오는 부분 -->
                <tbody id="tBody"></tbody>
                <div class="bottom-caption">
                    <a href="/page/team/team-rank" class="ranking-view-more">더보기 &gt;</a>
                </div>
            </table>
        </div>
    </div>
</section>
<script>
    function addRow(tableBody, rank, taType, taName, taBoundarySido, taPoint, taNum) {
        const row = document.createElement('tr');
        row.innerHTML = `
        <td>${rank}</td>
        <td>${taType}</td>
        <td><a href="/page/team/record?taNum=${taNum}">${taName}</a></td>
        <td>${taBoundarySido}</td>
        <td>${taPoint}</td>
    `;
        tableBody.appendChild(row);
    }

    async function performSearch() {
        const rankRes = await fetch('/team-infos');
        const teamData = await rankRes.json();

        console.log('teamData:', teamData);
        const upperBound = skill + 100;

        const tableBody = document.getElementById("tBody");
        tableBody.innerHTML = '';
        let i = 1;

        // 필터링된 데이터 상위 5개만 표시
        const filteredData = teamData.filter((row) => {
            const isSportMatch = sport === "" || row.taType === sport;
            const isAreaMatch = area === "" || row.taBoundarySido === area;
            const isSkillMatch = skill === 0 || (row.taPoint >= skill && row.taPoint <= upperBound);
            const result = isSportMatch && isAreaMatch && isSkillMatch;
            console.log('Row:', row, 'Result:', result);

            return result;
        });

        // 상위 5개의 데이터만 반복하여 처리
        for (const row of filteredData.slice(0, 5)) {
            addRow(tableBody, i, row.taType, row.taName, row.taBoundarySido, row.taPoint, row.taNum);
            i++;
        }

        console.log('Checking values:', 'Sport:', sport, 'Area:', area, 'Skill:', skill);
    }

    window.addEventListener('load', async function () {
        const rankRes = await fetch('/team-infos');
        teamData = await rankRes.json();

        console.log('teamData:', teamData);

        let html = '';
        let i = 1;

        // 상위 5개의 데이터만 반복하여 처리
        for (const row of teamData.slice(0, 5)) {
            html += '<tr>';
            html += `<td>${i}</td>`;
            html += `<td>${row.taType}</a></td>`;
            html += `<td><a href="/page/team/record?taNum=${row.taNum}">${row.taName}</td>`;
            html += `<td>${row.taBoundarySido}</td>`;
            html += `<td>${row.taPoint}</td>`;
            html += '</tr>';
            i++;
        }
        document.querySelector('#tBody').innerHTML = html;
    });
</script>

<!-- 매치 일정 영역 -->
<section>
    <div class="calendar-container">
        <button id="cal-prev-btn" class="calendar-button">&lt;</button>
        <div class="calendar"></div>
        <button id="cal-next-btn" class="calendar-button">&gt;</button>
    </div>
    <div class="filter">
       
      
    </div>
    <table class="schedule-table">
        <tbody id="schedule"></tbody>
    </table>
    <div class="schedule-caption">
        <a href="/page/match/match-board.html" class="schedule-view-more">전체 일정 확인하기 &gt;</a>
    </div>
</section>

<script type="module" src="/js/main.js"></script>

<!-- mock data -->
<script src="/js/mock/region.js"></script>
</body>
</html>