<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>프로필 및 팀 정보</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet" />
    <script src="/tmpl/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
</head>

<body>
    <header>
        <a href="#" class="logo">Match Me If You Can</a>
        <ul class="navbar">
            <li><a href="#match">Match</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#mypage">MyPage</a></li>
            <li><a href="#rank">Rank</a></li>
        </ul>
        <div class="user-menu">
            <button id="login-button">로그인</button>
            <button id="register-button">회원가입</button>
        </div>
    </header>

    </button>
    <h2 id="team-heading"> 팀만들기</h2>
    <div id="profile-container">
        <img id="profile-preview" alt="프로필 이미지" src="/imgs/profile.jpg" >

    </div>
    <button id="change-photo-button" onclick="openProfilePopup()">사진 첨부</button>
    <div id="photo-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeProfilePopup()">&times;</span>
            <h3>프로필 사진 변경</h3>
            <button type="button" id="basketball" value="농구" onclick="changeProfile('/imgs/basketball1.png')">
                <img src='/imgs/basketball1.png'>
            </button>
            <button type="button" id="baseball" value="야구" onclick="changeProfile('/imgs/baseball1.png')">
                <img src='/imgs/baseball1.png'>
            </button>
            <button type="button" id="soccer" value="축구" onclick="changeProfile('/imgs/soccer1.png')">
                <img src='/imgs/soccer1.png'>
            </button>

        </div>
    </div>
    <div class="form1">
        <select id="sport-select">
            <option value="">종목</option>
            <option value="농구">농구</option>
            <option value="야구">야구</option>
            <option value="축구">축구</option>
        </select>

        <div id="location-buttons">
            <button onclick="showLocationSelects()">지역</button>
        </div>

        <div id="location-selects" style="display: none;">
            <select id="sido" onchange="makeSigungu()">
                <option>시/도</option>
            </select>
            <select id="sigungu">
                <option>시/군/구</option>
            </select>
            <script>
           
                for (let key in address) {
                    html = '';
                    html += `<option>${key}</option>`;
                    document.querySelector('#sido').innerHTML += html;
                }


                function makeSigungu() {
                    let sido = document.querySelector('#sido').value;
                    document.querySelector('#sigungu').innerHTML = null;
                    document.querySelector('#sigungu').value = '시/군/구';
                    for (let i = 0; i < Object.keys(address).length; i++) {
                        if (Object.keys(address)[i] == sido) {
                            let siGunGu = Object.values(address)[i];
                            html = '';
                            for (let j = 0; j < Object.values(address)[i].length; j++)
                                html += `<option>${siGunGu[j]}</option>`;
                            document.querySelector('#sigungu').innerHTML += html;
                        }
                    }
                }

            </script>
        </div>


        <div id="team-name">
            <label for="team-name-input">팀 이름</label><br>
            <input type="text" id="team-name-input" placeholder="팀 이름을 입력하세요">
        </div>

        <div id="team-intro">
            <label for="team-intro-input">팀 소개</label><br>
            <textarea id="team-intro-input" placeholder="팀 소개를 입력하세요"></textarea>
        </div>

        <button id="complete-button" onclick="completeSetup()">완료</button>
    </div>

    <script>
        function showLocationSelects() {
            document.getElementById('location-selects').style.display = 'flex';
        }

        function openProfilePopup() {
            document.getElementById('photo-modal').style.display = 'block';
        }

        function closeProfilePopup() {
            document.getElementById('photo-modal').style.display = 'none';
        }

        function changeProfile(imageUrl) {
            document.getElementById('profile-preview').src = imageUrl;
            closeProfilePopup();
        }

    </script>

</body>

</html>