<!DOCTYPE html>
<html lang="ko">

<head>
    <th:block th:replace="page/fragment/head :: f-head"></th:block>
    <th:block th:replace="page/fragment/script :: f-script"></th:block>
    <title>Team Rankings</title>
    <link href="/css/match/match-board.css" rel="stylesheet"/>
</head>

<body>
<div th:replace="page/fragment/header.html :: f-head"></div>

<section class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="calendar-container">
                <button id="prev-btn" class="calendar-button">&lt;</button>
                <div class="calendar"></div>
                <button id="next-btn" class="calendar-button">&gt;</button>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="filter">
                <select id="sports" class="filter-select">
                    <option value="all">종목</option>
                    <option value="축구">축구</option>
                    <option value="야구">야구</option>
                    <option value="농구">농구</option>
                </select>
                <select id="sido" name="sido" class="filter-select">
                    <option value="sido">시/도</option>
                </select>
                <script src="/js/mock/region.js"></script>

                <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
                <label id="checkText" class="btn btn-primary" for="btn-check">신청가능만</label>
            </div>
        </div>

    </div>
    <div class="col">
        <div class="range-container">
            <!-- 포인트 슬라이더 영역 -->
            <input type="range" id="point" step="100" class="form-range" min="0" max="1000" value="0">
            <div class="value-marker" id="valueMarker">0</div>
        </div>
    </div>

    <script>
        const rangeInput = document.querySelector('#point');
        const valueMarker = document.querySelector('#valueMarker');

        updateValueMarker();

        rangeInput.addEventListener('input', function () {
            updateValueMarker();
        });

        function updateValueMarker() {
            const percent = (rangeInput.value - rangeInput.min) / (rangeInput.max - rangeInput.min) * 100;
            valueMarker.style.left = `${percent}%`;
            valueMarker.textContent = rangeInput.value;
        }
    </script>

    <div class="row mt-4">
        <div>
            <table class="match-table table">
                <tbody class="text-center h-100" id="schedule"></tbody>
            </table>
            <ul class="pagination" id="pagination"></ul>
        </div>
    </div>
</section>

<div class="write-section container">
    <button onclick="location.href='/page/match/match-add'" class="btn btn-primary" id="write-button">글쓰기</button>
</div>

<script type="module" src="/js/match/match-board-script.js"></script>

<script>
    var slider = document.querySelector("#point");
    var output = document.querySelector("#valueMarker");
    output.innerHTML = slider.value;

    slider.oninput = function () {
        output.innerHTML = this.value;
    }

    window.addEventListener('scroll', () => {
        if (window.scrollY > 50) {
            header.style.opacity = '0';
            header.style.transform = 'translateY(-100%)';
        } else {
            header.style.opacity = '1';
            header.style.transform = 'translateY(0)';
        }
    });
</script>
</body>

</html>
