<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>전적 페이지(전체 확인 가능)</title>
    <!-- 부트스트랩 CDN 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/team/team-apply.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto:ital,wght@0,100;0,400;0,900;1,300;1,700;1,900&display=swap"
          rel="stylesheet">
    <style>
        .team-photo img {
            width: 200px;
            height: 180px;
            border-radius: 20px;
            position: relative;
            overflow: hidden;
            margin-bottom: 1rem;
        }
    </style>
</head>

<body>
<div th:replace="/page/fragment/header.html :: f-head"></div>
<div th:replace="/page/fragment/team-profile.html :: f-team-profile"></div>
<div class="container record-main">

    <div class="row">
        <div class="col-md-4 offset-md-4 text-center">
            <span class="">전적: <span id="winCnt"></span>승 <span id="drawCnt"></span>무 <span id="looseCnt"></span>패</span>
        </div>
    </div>
</div>

<div class="container odds-of-winning">

</div>
<script>
    const urlParams = new URL(location.href).searchParams;
    const taNum = urlParams.get('taNum');

    const fetchTeamInfoList = async () => {
        const teamListRes = await fetch(`/team-info?taNum=${taNum}`);
        const teamInfoList = await teamListRes.json();

        document.querySelector('#winCnt').innerText = teamInfoList.taWinCnt;
        document.querySelector('#drawCnt').innerText = teamInfoList.taDrawCnt;
        document.querySelector('#looseCnt').innerText = teamInfoList.taLooseCnt;
    };

    // 호출된 함수 실행
    fetchTeamInfoList();
</script>
</body>
</html>
